{% extends 'admin/inicio.html' %}
{% block content %}

{% load static %}

<link href="{% static 'admin/assets/css/miestilo.css' %}" rel="stylesheet">
<style>
  .borderdiv {
    border: 1px solid;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
</style>

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Crear Formularios</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/administracion/">Inicio</a></li>
          <li class="breadcrumb-item"><a href="/administracion/formu/listar/">Listado</a></li>
          <li class="breadcrumb-item active">Crear</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
       <!--registro de cursos forms-->   
       <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
              <br>
               <!--alertar-->
               {% if messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  {% for message in messages %}
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  {% endfor %}
                </div>
               {% endif %}
               <!--end alertar-->
              <!--crear formularios-->
              <form action="{% url 'crearformu' %}" method="post">
                {% csrf_token %}
                <div class="form-control">
                <div class="row">
                    <div class="col-6">
                        <div class="form">
                            <input type="text" name="nomform" id="nomform" required>
                             <label class="lbl-nombre"><span class="text-nomb">Nombre</span></label>
                        </div>  
                    </div>
                    <div class="col-6">
                        <div class="form">
                            <textarea rows="2" name="desform" id="desform" required></textarea>
                            <label class="lbl-nombre"><span class="text-nomb">Descripción</span></label>
                        </div>
                    </div>
                </div>
            </div>
            <!---formulario-->
            <hr>
            <div class="form-control">
                <!--formulario reactivo-->
                 <!-- Contenedor para los campos del formulario -->
                 <div id="contenedor-formulario"></div>
                <!--end formulario reactivo-->
            </div>
            <!--crear objetivos-->
            <a class="btn btn-primary mt-2" onclick="agregarCampo()"><i class="bi bi-plus-circle" style="font-size: 20px;"></i></a>
            <!--end objetivos-->
            <!--end formulario-->
            <div class="text-center">
              <button type="submit" class="btn btn-primary"> <i class="bi bi-floppy2-fill"></i> | Guardar </button>
              <a type="button" class="btn btn-success" href="/administracion/formu/listar/"> <i class="bi bi-card-checklist"></i> | Visualizar </a>
              <a type="reset" class="btn btn-warning" href="/administracion/formu/listar/">Cancelar</a>
            </div>
            </form>
              <!--end formulario--> 

            </div>
          </div>
       </div>
      </div>
    </section>
</main><!-- End #main -->
  <!-- Aqui se encuentran las instrucciones para formularios -->
 <script>
var contakpiobj = 0;

function agregarCampo() {
    var contenedor = document.getElementById('contenedor-formulario');

    // Crear una nueva fila (div con clase "row")
    var nuevaFila = document.createElement('div');
    nuevaFila.classList.add('row', 'mt-3', 'borderdiv');

    // Asignar un ID único a la fila
    var filaId = 'fila' + contakpiobj;
    nuevaFila.id = filaId;

    // Columna 1: Pregunta (input de texto)
    var columna1 = document.createElement('div');
    columna1.classList.add('col-6');

    //fila para las respuestas
    var respuestas = document.createElement('div');
    respuestas.classList.add('col-12');

    var divForm = document.createElement('div');
    divForm.classList.add('form');

    var inputPregunta = document.createElement('input');
    inputPregunta.type = 'text';
    inputPregunta.name = 'pregunta_' + filaId;
    inputPregunta.placeholder = 'Pregunta';
    inputPregunta.required = true;
    inputPregunta.classList.add('form-control'); // Agregar la clase al input

    var labelNombre = document.createElement('label');
    labelNombre.classList.add('lbl-nombre');

    var spanTextNombre = document.createElement('span');
    spanTextNombre.classList.add('text-nomb');

    labelNombre.appendChild(spanTextNombre);
    divForm.appendChild(inputPregunta);
    divForm.appendChild(labelNombre);

    columna1.appendChild(divForm);

    // Columna 2: Tipo de formulario (select)
    var columna2 = document.createElement('div');
    columna2.classList.add('col-5');

    var selectTipoFormulario = document.createElement('select');
    selectTipoFormulario.classList.add('form-select', 'mt-3');
    selectTipoFormulario.name = 'tipoform_' + filaId;
    selectTipoFormulario.setAttribute('aria-label', 'Default select example');

    var opciones = [
        { value: 0, text: 'Tipo de formulario' },
        { value: 1, text: 'Respuesta corta' },
        { value: 2, text: 'Párrafo' },
        { value: 3, text: 'Varias opciones' }
    ];

    for (var i = 0; i < opciones.length; i++) {
        var opcion = document.createElement('option');
        opcion.value = opciones[i].value;
        opcion.text = opciones[i].text;
        selectTipoFormulario.appendChild(opcion);
    }

    // Contenedor para el mensaje de Respuesta corta
    var divRespuestaCorta = document.createElement('div');
    divRespuestaCorta.innerHTML = 'Respuesta corta ___________________________________________________________________________________';
    divRespuestaCorta.classList.add('form-control', 'mt-3', 'd-none'); // Inicialmente oculto

    // Contenedor para el mensaje de Respuesta Larga
    var divRespuestaLarga = document.createElement('div');
    divRespuestaLarga.innerHTML = 'Respuesta larga __________________________________________________________________________________________________________________________________________________________________________________________________';
    divRespuestaLarga.classList.add('form-control', 'mt-3', 'd-none'); // Inicialmente oculto

    // Contenedor para radios de Varias opciones
    var divRadios = document.createElement('div');
    divRadios.classList.add('d-none', 'form-control', 'mt-2'); // Inicialmente oculto

    //crear contenedor para repartir en dos
    //crear row 
    var divcompleto = document.createElement('div');
    divcompleto.classList.add('row');

    var divrow = document.createElement('div');
    divrow.classList.add('col-11');

    //crear contenedor para los eliminar del input
    var divdelete = document.createElement('div');
    divdelete.classList.add('col-1')

    // Función para agregar nuevo campo de texto
    function agregarInputTexto() {
        // Crear un nuevo input de tipo texto
        var nuevoInputTexto = document.createElement('input');
        nuevoInputTexto.type = 'text';
        nuevoInputTexto.name = 'opciones_' + filaId + '[]';
        nuevoInputTexto.placeholder = 'Nueva Opción';
        nuevoInputTexto.classList.add('form-control', 'mt-3');

        // Botón para eliminar el input
        var btnEliminarInput = document.createElement('a');
        btnEliminarInput.type = 'button'
        btnEliminarInput.innerHTML = '<i class="bi bi-trash3-fill"></i>';
        btnEliminarInput.classList.add('btn', 'btn-danger', 'mt-3');
        btnEliminarInput.onclick = function() {
            // Eliminar el input y el botón
            divrow.removeChild(nuevoInputTexto);
            divdelete.removeChild(btnEliminarInput);
        };

        // Agregar el input y el botón al contenedor
        divrow.appendChild(nuevoInputTexto);
        divdelete.appendChild(btnEliminarInput);

        divcompleto.appendChild(divrow);
        divcompleto.appendChild(divdelete);

        divRadios.appendChild(divcompleto);
    }

    // Botón adicional para Varias opciones
    var btnAgregarOpcion = document.createElement('a');
    btnAgregarOpcion.type = 'button'
    btnAgregarOpcion.innerHTML = 'Agregar Opción';
    btnAgregarOpcion.classList.add('btn', 'btn-success', 'mt-3', 'd-none'); // Inicialmente oculto

    // Función para agregar nuevo campo de texto al hacer clic en "Agregar Opción"
    btnAgregarOpcion.onclick = agregarInputTexto;

    columna2.appendChild(selectTipoFormulario);
    respuestas.appendChild(divRespuestaCorta);
    respuestas.appendChild(divRespuestaLarga);
    respuestas.appendChild(divRadios);
    respuestas.appendChild(btnAgregarOpcion);

    // Agregar evento de escucha al select
    selectTipoFormulario.addEventListener('change', function() {
        // Mostrar u ocultar elementos adicionales según la opción seleccionada
        var valorSeleccionado = selectTipoFormulario.value;

        // Obtener el ID de la fila actual
        var filaId = nuevaFila.id;

        // Ocultar todos los elementos adicionales
        divRespuestaCorta.classList.add('d-none');
        divRespuestaLarga.classList.add('d-none');
        divRadios.classList.add('d-none');
        btnAgregarOpcion.classList.add('d-none'); // Ocultar el botón por defecto

        // Mostrar el elemento adicional correspondiente a la opción seleccionada
        console.log(valorSeleccionado);
        if (valorSeleccionado == 1) {
            divRespuestaCorta.classList.remove('d-none');
        } else if (valorSeleccionado == 3) {
            divRadios.classList.remove('d-none');
            btnAgregarOpcion.classList.remove('d-none'); // Mostrar el botón al seleccionar "Varias opciones"
        } else if (valorSeleccionado == 2) {
            divRespuestaLarga.classList.remove('d-none')
        }

    });

    // Botón para eliminar la fila
    // columna 3
    var columna3 = document.createElement('div');
    columna3.classList.add('col-1');

    var btnEliminar = document.createElement('a');
    btnEliminar.innerHTML = '<i class="bi bi-trash3-fill"></i>';
    btnEliminar.classList.add('btn', 'btn-danger', 'mt-3'); // Cambiar float-end a float-start
    btnEliminar.onclick = function() {
        contenedor.removeChild(nuevaFila);
    };

    // Agregar el botón a la fila
    columna3.appendChild(btnEliminar);
    // Agregar las columnas a la fila
    nuevaFila.appendChild(columna1);
    nuevaFila.appendChild(columna2);
    nuevaFila.appendChild(columna3);
    // agregar las respuestas
    nuevaFila.appendChild(respuestas);

    // Agregar la nueva fila al contenedor
    contenedor.appendChild(nuevaFila);

    contakpiobj++;
}


 </script>

 
  {% endblock %} 