{% extends 'admin/inicio.html' %}
{% block content %}

<main id="main" class="main">
    <div class="pagetitle">
      <h1>Listado de Formularios</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/administracion/">Inicio</a></li>
          <li class="breadcrumb-item active">Listado</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard">
      <div class="row">
       <!--registro de cursos forms-->   
       <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="mt-3 col-4">
                  <a type="button" class="btn btn-outline-primary" href="{% url 'crearformu' %}" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Crear Nuevos formularios"> Nuevo Formulario </a>
                </div>
                <div class="mt-3 col-8 text-end"><a href="/administracion/" class="btn btn-warning"><i class="bi bi-box-arrow-left"></i> | Volver</a></div>
              </div>
              
              <br>
               <!--alertar-->
               {% if newmensaje %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ newmensaje }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
               {% endif %}
               <!--end alertar-->
               <!-- Table with stripped rows -->
               <div class="table-responsive">
               <table class="table" id="tablareactiva">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>Vincular</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for f in formu %}
                   <tr>
                    <td>{{f.nombre}}</td>
                    <td>{{f.descrip}}</td>
                    <td>{{f.fecha|date:"d/m/Y"}}</td>
                    <td>
                      <!--vincular el formulario con diferentes cursos y sesiones-->
                      <!-- Button trigger modal -->
                      <span data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Vincular {{f.nombre}} a sesiones de curso">
                        <a type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#vincularModal{{f.id}}">
                          <i class="bi bi-card-checklist"></i>
                        </a>
                      </span>
                      <!-- Modal -->
                      <div class="modal fade" id="vincularModal{{f.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Vincular {{f.nombre}} a sesiones de curso</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <!--codigo para ver las sesiones-->
                              <!--=========================-->
                              <div class="row">
                                <div class="col-6"></div>
                                <div class="col-6">
                                  <input type="text" class="form-control" id="searchInput{{f.id}}" placeholder="Buscar..." name="table{{f.id}}">
                                </div>
                              </div>
                              <form action="{% url 'addsesionform' idform=f.id %}" method="post">
                                {% csrf_token %}
                              <div class="table-responsive mt-2">
                              
                                <table class="table" id="tablaDatos{{f.id}}">
                                  <thead>
                                      <tr>
                                          <th>Curso</th>
                                          <th>Sesión</th>
                                          <th>Fecha</th>
                                          <th>Lugar</th>
                                          <th>Seleccionar</th>
                                          <th>Compartir</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      {% for curso, sesiones in cursos_sesiones.items %}
                                          {% for sesion in sesiones %}
                                              <tr>
                                                  {% if forloop.first %}  <!-- Para la primera fila del curso -->
                                                  <td rowspan="{{ sesiones|length }}">{{ curso.nombre }}</td>
                                                  {% endif %}  
                                                  <td>{{ forloop.counter }}</td>  <!-- Número de sesión -->
                                                  <td>{{ sesion.fechainicio|date:"d/m/Y g:iA" }}</td>
                                                  <td>{{ sesion.lugar }}</td>
                                                  <td>
                                                  <div class="text-center">
                                                      <input class="form-check-input" type="checkbox" id="sesionCurso[]" name="sesionCurso[]" value="{{sesion.id}}" style="border: 1px solid rgb(20, 20, 20);"  {% for agregado in agregados %}{% if agregado.idform.id == f.id %} {% if agregado.idsesion.id == sesion.id %} checked {% endif %} {% endif %} {% endfor %}>
                                                  </div>
                                                    <!--end botones-->
                                                  </td>
                                                  <td>
                                                    {% for agregado in agregados %}
                                                        {% if agregado.idform.id == f.id %}
                                                          {% if agregado.idsesion.id == sesion.id %}
                                                            <a class="btn btn-primary" href="{% url 'qrformu' idsesion=sesion.id %}" role="button" target="_blank" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Compartir acceso mediante QR o enlace url"><i class="bi bi-share-fill"></i></a>
                                                          {% endif %} 
                                                        {% endif %} 
                                                      {% endfor %}
                                                  </td>
                                              </tr>
                                          {% endfor %}
                                      {% endfor %}
                                  </tbody>
                              </table>
                            </div>
                            <!--end codigo sesiones-->
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Salir</button>
                              <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                          </form>
                          </div>
                        </div>
                      </div>
                      <!--end vincular formularios-->
                    </td>
                    <td>
                      <!--=====================-->
                      <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <a href="{% url 'copiarform' idform=f.id %}"  class="btn btn-outline-success"  data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Crear una copia de: {{f.nombre}}"><i class="bi bi-copy"></i></a>
                        <a href="{% url 'editarform' idform=f.id %}"  class="btn  btn-outline-info" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Editar el formulario: {{f.nombre}}"><i class="bi bi-pencil-square"></i></a>
                        <a type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#eliminarModal{{f.id}}"><i class="bi bi-trash3-fill"  data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Eliminar formulario: {{f.nombre}}"></i></a>
                      </div>
                      <!--=====================-->
                      <!-- Modal -->
                        <div class="modal fade" id="eliminarModal{{f.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Alerta</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                ¿Esta seguro que desea eliminar este formulario?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">No</button>
                                <a type="button" class="btn btn-danger"  href="{% url 'eliminarForm' idform=f.id %}">Si</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--end modal-->
                    </td>
                   </tr>
                   {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
              <!--=========================================-->
               </div>
            </div>
          </div>
       </div>
      </div>
    </section>
</main><!-- End #main -->
  <!-- Aqui se encuentran las instrucciones para formularios -->
 
  <script>
    $(document).ready(function() {
      // Función para filtrar una tabla específica
      function filterTable(tableId, searchTerm) {
        $('#' + tableId + ' tbody tr').each(function() {
          var rowText = $(this).text().toLowerCase();
          if (rowText.indexOf(searchTerm) === -1) {
            $(this).hide();
          } else {
            $(this).show();
          }
        });
      }
    
      // Evento de entrada para los campos de búsqueda
      $('[id^="searchInput"]').on('input', function() {
        var searchTerm = $(this).val().toLowerCase();
        var tableId = 'tablaDatos' + $(this).attr('id').replace('searchInput', '');
        filterTable(tableId, searchTerm);
      });
    });
    </script>
  {% endblock %} 