.inputradio[type="radio"] {
  display: none;
}

.labelradio {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.labelradio:hover,
.labelradio:hover ~ .labelradio {
  color: orange;
}

.inputradio[type="radio"]:checked ~ label {
  color: orange;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.tooltip1 {
  border-bottom: 1px dotted #000;
  cursor: help;
}