.colorseccion{
    background-color: #131535; 
    border-radius: 10px; 
    color:white;
    padding: 6px;
}

.custom-tooltip .tooltip-inner {
      background-color: #3498db; /* Cambia esto al color de fondo que desees */
      color: #fff; /* Cambia esto al color de texto que desees */
      font-size: 1rem; /* Tamaño de la fuente, opcional */
  }
