{% load static %}
<!-- Vendor JS Files -->
<script src="{% static 'admin/assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
<script src="{% static 'admin/assets/vendor/chart.js/chart.umd.js' %} "></script>
<script src="{% static 'admin/assets/vendor/echarts/echarts.min.js' %} "></script>
<script src="{% static 'admin/assets/vendor/quill/quill.min.js' %} "></script>

<!--<script src="{% static 'admin/assets/vendor/simple-datatables/simple-datatables.js' %}"></script>-->
<script src="{% static 'admin/assets/vendor/tinymce/tinymce.min.js' %} "></script>
<script src="{% static 'admin/assets/vendor/php-email-form/validate.js' %} "></script>

<!--link para toastr-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<!-- Template Main JS File -->
<script src="{% static 'admin/assets/js/main.js' %} "></script>


<script>
    $(document).ready(function() {
      // Inicializa la tabla con el idioma en español
      $('#tablareactiva').DataTable({
        "language": {
          "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
        }
      });

      $('#tablareactiva_02').DataTable({
        "language": {
          "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
        }
      });
    });
  </script>
  <!----temporizador -->
  <script>
    // Obtén el tiempo restante de la sesión desde el contexto de Django
      const timeRemaining = '{{ thoras }}';

      // Función para mostrar el cronómetro
      function startTimer(duration, display) {
          let timer = duration, minutes, seconds;
          setInterval(function () {
              minutes = parseInt(timer / 60, 10);
              seconds = parseInt(timer % 60, 10);

              minutes = minutes < 10 ? "0" + minutes : minutes;
              seconds = seconds < 10 ? "0" + seconds : seconds;

              display.textContent = minutes + ":" + seconds;

              if (--timer < 0) {
                  timer = duration;
              }
          }, 1000);
      }

      window.onload = function () {
          const display = document.getElementById('timer');
          startTimer(timeRemaining, display);
      };
  </script>