<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/administracion/">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-building"></i><span>Empresa</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/administracion/kpis/list/">
              <i class="bi bi-circle"></i><span>KPi Area/Departamento</span>
           </a>
        </ul>
      </li><!-- End Forms Nav -->
     <!---=================metricas =========================-->  
     <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
      <i class="bi bi-bar-chart"></i><span>Métricas</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'listarcompromisos' %}">
            <i class="bi bi-circle"></i><span>Visualizar compromisos</span>
          </a>
        </li>
        <li>
          <a href="{% url 'usersFomularios' %}">
            <i class="bi bi-circle"></i><span>Resultados de aprendizaje</span>
          </a>
        </li>
        <li>
          <a href="{% url 'listarcursos' %}">
            <i class="bi bi-circle"></i><span>Evaluación de cursos</span>
          </a>
        </li>
      </ul>
    </li>
    <!---=========================end metricas ============-->
    <li class="nav-heading">Cursos y evaluaciones</li>
    <!---==================================================-->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'compromisos' %}">
          <i class="bi bi-journal-text"></i>
          <span>Compromisos</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'listarcursosusuario' %}">
          <i class="bi bi-menu-button-wide"></i><span>Cursos</span>
        </a>
      </li>
    </ul>

  </aside>