{% extends 'admin/inicio.html' %}
{% block content %}
<style>
  
  .seccion {
    display: none;
  }

  .active {
    display: block;
  }

  #extra-buttons {
      display: none;
    }
</style>

<main id="main" class="main">
  {% load static %}

    <div class="pagetitle">
      <h1>Registrar</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/administracion">Inicio</a></li>
          <li class="breadcrumb-item active"><a href="/administracion/curso/list/">Listado</a></li>
          <li class="breadcrumb-item active">Registro</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
       <!--registro de cursos forms-->   
       <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
             <!--==========================descripcion ========================-->
             <div class="row mt-2 alert alert-primary" role="alert">
              <div class="col-8" >
                  <h5>Registrar información del curso</h5>
              </div>
              <div class="col-4 text-end">
                <a type="button" class="btn btn-warning btn-sm" href="{% url 'listarcursos' %}"> <i class="bi bi-box-arrow-left"></i> | Cancelar </a>
              </div>
            </div>
             <!--======================end descripcion==========================-->
              <!--alertar-->
              {% if msj %}
              <br>
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{msj}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}
              {% if messages %}
              <br>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  {% for message in messages %}
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  {% endfor %}
                </div>
              {% endif %}
              <!--end alertar-->
                <!-- Modal -->
                <div class="modal fade" id="modalcompetencia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar una competencia</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <form action="{% url 'crearCompetencia' %}" method="post">
                      {% csrf_token %}
                      <div class="modal-body">
                        <!--campos competencia-->
                        <div class="form-control">
                          <div class="row">
                            <div class="col-12">
                              <input class="form-control" id="comp" name="comp" required>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Salir</button>
                      </div>
                    </form>
                    </div>
                  </div>
                </div>
            </div>
            <!-- Horizontal Form -->
            <form action="{% url 'registroCursos' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="container">
              <div class="seccion active" id="seccion1">
                <h5>Información básica del curso</h5>
                <hr>
                <div class="row mb-3">
                  <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                  <div class="col-sm-5">
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                  </div>
                  <!---=================== aqui precio =============-->
                  <label for="precio" class="col-sm-1 col-form-label">Precio</label>
                  <div class="col-sm-4">
                    <input type="number" class="form-control" id="precio" name="precio" required>
                  </div>
                  <!--=============================================0-->
                </div>
                <div class="row mb-3">
                  <label for="descrip" class="col-sm-2 col-form-label">Descripción</label>
                  <div class="col-sm-10">
                    <textarea type="text" class="form-control" id="descrip" name="descrip" rows="3" required></textarea>
                  </div>
                </div>
                {% if usu.idrol.id != 4 %}
                <div class="row mb-3">
                  <!--formador-->
                  <label for="formador" class="col-sm-2 col-form-label">Formador</label>
                  <div class="col-sm-5">
                      <select id="formador" name="formador" class="form-select" required>
                          <option value="" selected>Elegir formador</option>
                        {% for formador in formadores %}
                          <option value="{{formador.id}}">{{formador.nombre}} {{formador.apellido}}</option>
                         {% endfor %}
                        </select>
                  </div>
                  <!--end formador-->
                  <!---======== empresa ========= -->
                  <label for="empresa" class="col-sm-2 col-form-label">Empresa</label>
                  <div class="col-sm-3">
                    <select id="empresa" name="empresa" class="form-select" required>
                    </select>
                  </div>
                  <!---==========================-->
                </div>
                {% endif %}
              <!--aqui debe ir las competencias a fortalecer-->
                <div class="row mb-3">
                  <label for="precio" class="col-sm-2 col-form-label">Competencias</label>
                  <div class="col-sm-8">
                    <!--competencias-->
                    <div class="form-control">
                      <div style="column-count: 5;">
                        {% for com in competencias %}
                          <label style="display: flex; align-items: center; margin-right: 10px;">
                            <input type="checkbox" name="compe" value="{{ com.id }}">
                            <span>&nbsp;{{ com.nombre }}</span>&nbsp;
                            <a href="{% url 'eliminarCompetencia' idcom=com.id %}" style="color: red;">x</a>
                          </label>
                        {% endfor %}
                      </div>
                    </div>
                    <!--end-->
                  </div>
                  <div class="col-sm-2">
                    <!-- Button trigger modal -->
                      <a type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalcompetencia">
                        <i class="bi bi-pencil-square"></i> Competencia
                      </a>
                  </div>
                <!--end fortalecer competencias-->
                </div>
               </div>
              <!--objetivos del curso-->
            <!-- Default Accordion -->
            <div class="seccion" id="seccion2">
              <h5>Objetivos del curso</h5>
              <hr>
               <!-- Contenedor para los campos del formulario -->
               <div id="contenedor-objetivos" class="row mb-3"></div>
              <!--crear objetivos-->
              <a class="btn btn-outline-primary btn-sm" onclick="agregarObjetivo()"><i class="bi bi-plus-circle-fill"></i> Agregar objetivo</a>
              <!--end objetivos-->
            </div>
              <!--end objetivos del curso-->
              <div class="seccion" id="seccion3">
                <h5>Sesiones del curso</h5>
                <hr>
                  <!-- Contenedor para los campos del formulario -->
                  <div id="formulario-container" class="row mb-3"></div>
                  <!--si marca check-->
                    <a class="btn btn-outline-primary btn-sm" onclick="agregarCampo()"><i class="bi bi-plus-circle-fill"></i> Agregar sesión</a>
              </div>
              <!--end check-->
              <hr>
              <div class="mt-3 mb-3">
                <div class="row">
                  <div class="col-3 text-start">
                    <a type="button" class="btn btn-outline-success btn-sm" onclick="prevSection()"><i class="bi bi-rewind-btn"></i> Atrás</a>
                  </div>
                  <div class="col-6 text-center">
                    <div id="extra-buttons">
                      <button type="submit" class="btn btn-outline-primary"> <i class="bi bi-floppy2-fill"></i> | Guardar </button>
                    </div>
                  </div>
                  <!---==================================-->
                  <div class="col-3 text-end">
                    <a type="button" class="btn btn-outline-success btn-sm" onclick="nextSection()"><i class="bi bi-fast-forward-btn"></i> Siguiente</a>
                  </div>
                  <!--==================================-->
                </div>
                <!--end botones-->
              </div>
            </form><!-- End Horizontal Form -->
           
          </div>
        </div>

      </div>
       <!--end forms -->
      </div>
    </section>
  </main><!-- End #main -->
  <!-- Aqui se encuentran las instrucciones para formularios -->
  <script src="{% static 'admin/assets/js/script.js' %} "></script>
  <script src="{% static 'admin/assets/js/buscarempresa.js' %} "></script>
  <script>
    agregarObjetivo();
    agregarCampo()
  </script>
  <script>
    let currentSection = 0;
    const sections = document.querySelectorAll('.seccion');
    const extraButtons = document.getElementById('extra-buttons');

    function showSection(index) {
      sections.forEach((seccion, i) => {
        if (i === index) {
          seccion.classList.add('active');
        } else {
          seccion.classList.remove('active');
        }
      });
       // Mostrar botones adicionales solo en la sección 3
       extraButtons.style.display = index === 2 ? 'block' : 'none';
    }
  
    function nextSection() {
      if (currentSection < sections.length - 1) {
        currentSection++;
        showSection(currentSection);
      }
    }
  
    function prevSection() {
      if (currentSection > 0) {
        currentSection--;
        showSection(currentSection);
      }
    }
  </script>
{% endblock %} 