{% extends 'admin/inicio.html' %}
{% block content %}
{% load static %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Registrar nuevo curso</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/administracion">Inicio</a></li>
          <li class="breadcrumb-item active"><a href="/administracion/curso/list/">Listado</a></li>
          <li class="breadcrumb-item active">Registro</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
       <!--registro de cursos forms-->   
       <div class="col-lg-12">
      
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Registrar Curso
            </h5>
              <!--alertar-->
              {% if msj %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{msj}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}
              <!--end alertar-->
            <!-- Horizontal Form -->
            <form action="{% url 'registroCursos' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-control">
              <div class="row mb-3">
                <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
              </div>
              <div class="row mb-3">
                <label for="descrip" class="col-sm-2 col-form-label">Descripción</label>
                <div class="col-sm-10">
                  <textarea type="text" class="form-control" id="descrip" name="descrip" rows="5" required></textarea>
                </div>
              </div>
              <div class="row mb-3">
                <label for="precio" class="col-sm-2 col-form-label">Precio</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="precio" name="precio" required>
                </div>
              </div>
              <div class="row mb-3">
                <label for="formador" class="col-sm-2 col-form-label">Formador</label>
                <div class="col-sm-10">
                    <select id="formador" name="formador" class="form-select" required>
                        <option selected>Elegir formador</option>
                        <option>Manuel Castrillón</option>
                      </select>
                </div>
              </div>
            </div>
              <!--objetivos del curso-->
            <!-- Default Accordion -->
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <p class="accordion-header" id="headingThree">
                  <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#idacordion3" aria-expanded="false" aria-controls="idacordion3">
                    Registrar objetivos
                  </a>
                </p>
                <div id="idacordion3" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <!-- Contenedor para los campos del formulario -->
                    <div id="contenedor-objetivos" class="row mb-3 mt-3">
                    </div>
                    <!--crear objetivos-->
                     <a class="btn btn-primary" onclick="agregarObjetivo()">Agregar objetivo</a>
                    <!--end objetivos-->
                  </div>
                </div>
              </div>
            </div><!-- End Default Accordion Example -->
              <!--end objetivos del curso-->
            <div class="form-control">
              <!-- Contenedor para los campos del formulario -->
               <div id="formulario-container" class="row mb-3 mt-3">
              </div>
              <!--si marca check-->
                 <a class="btn btn-primary" onclick="agregarCampo()">Nueva sesión</a>
             </div>
              <!--end check-->
              <div class="text-center">
                <button type="submit" class="btn btn-primary"> <i class="bi bi-floppy2-fill"></i> | Guardar </button>
                <a type="button" class="btn btn-success" href="{% url 'listarcursos' %}"> <i class="bi bi-card-checklist"></i> | Visualizar </a>
                <a type="reset" class="btn btn-warning" href="/administracion/curso/list/">Cancelar</a>
              </div>
            </form><!-- End Horizontal Form -->
           
          </div>
        </div>

      </div>
       <!--end forms -->
      </div>
    </section>
  </main><!-- End #main -->
  <!-- Aqui se encuentran las instrucciones para formularios -->
  <script src="{% static 'admin/assets/js/script.js' %} "></script>
  <script>
    agregarObjetivo();
    agregarCampo()
  </script>
{% endblock %} 