{% extends 'admin/inicio.html' %}
{% block content %}
<!-- detalle_curso.html -->
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Grupos de formación</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/administracion/">Inicio</a></li>
          <li class="breadcrumb-item"><a href="/administracion/grupos/list/">Listado</a></li>
          <li class="breadcrumb-item active">Registro</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
       <!--registro de cursos forms-->   
       <div class="col-lg-12">
        <div class="card">
          <div class="card-body mt-3">
            <div class="row">
              <div class="col-12 text-end" style="padding-right: 20px;"><a href="/administracion/grupos/list/" class="btn btn-warning"><i class="bi bi-box-arrow-left"></i> | Volver</a></div>
             </div>
              <!--alertar-->
            {% if messages %}
            <br>
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {% for message in messages %}
                  <strong>{{ message }}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% endfor %}
              </div>
             {% endif %}
              <!--end alertar-->
              <div class="offcanvas offcanvas-end" tabindex="-1" id="nuevoUsuario" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header alert alert-primary">
                  <h5 class="offcanvas-title" id="offcanvasRightLabel">Completa la información del usuario</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <!--canpos de formulario-->
                    <form action="{% url 'saveusernuevo' %}" method="post">
                     {% csrf_token %}
                     {% include 'admin/plantilla/formulariouser.html' %}
                      <!--botones---->
                        <div class="mt-4 mb-3 row">
                          <div class="col-sm-12 text-end">
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                              <button type="submit" class="btn btn-outline-primary">Guardar</button>
                              <button type="button" class="btn btn-warning"  data-bs-dismiss="offcanvas" aria-label="Close">Cancelar</button>
                            </div>
                          </div>
                        </div>
                      <!--end form-->
                    </form>
                    <br><br>
                </div>
              </div>
               <!-- Modal -->
               <div class="modal fade" id="registrarGrupo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                <div class="modal-content">
                 <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar Grupo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                 </div>
                <form id="formulariogrupo">
                    {% csrf_token %}
                    <div class="modal-body">
                    <!--registro de grupos-->
                    {% include 'admin/plantilla/formulariogrupo.html' %}
                    <!--end formulario-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Salir</button>
                        <a type="button" class="btn btn-primary" id="enviarDatos">Guardar</a>
                    </div>
                </form>
                </div>
                </div>
               </div>
              <!---=============== end modal -->
            <!----=======================================-->
             <!-- Modal Dialog Scrollable -->
            <div class="modal fade" id="visualizarGrupo" tabindex="-1">
              <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Listado de Grupos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                     <!--registro de grupos-->
                     <div class="table-responsive">
                      <form method="post" id="formularioTabla">
                        {% csrf_token %}
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Acción</th>
                          </tr>
                        </thead>
                        <tbody>  
                          {% for nb in ngrupos %}
                              <tr>
                                  <th scope="row">{{ nb.id }}</th>
                                  <td>
                                      <span class="editable" data-field="nombre" data-id="{{ nb.id }}">{{ nb.nombre }}</span>
                                  </td>
                                  <td>
                                      <span class="editable" data-field="descrip" data-id="{{ nb.id }}">{{ nb.descrip }}</span>
                                  </td>
                                  <td> 
                                      <a type="button" class="btn btn-outline-primary btn-edit" data-id="{{ nb.id }}"><i class="bi bi-pencil-square"></i></a>
                                      <a type="button" class="btn btn-outline-success btn-save" data-id="{{ nb.id }}" style="display: none;">Guardar</a>
                                      <a type="button" class="btn btn-outline-danger" href="{% url 'eliminargrupo' idgrupo=nb.id %}"><i class="bi bi-trash3-fill"></i></a>
                                  </td>
                              </tr> 
                          {% endfor %}
                          <tr id="grtable"></tr>
            
                        </tbody>
                      </table>
                      </form> 
                    </div>
                    <!--end formulario-->
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Salir</button>
                  </div>
                </div>
              </div>
            </div><!-- End Modal Dialog Scrollable-->
          <form action="{% url 'creargrupo' %}" method="POST">
              {% csrf_token %}
              <div class="container mt-4">
                <div class="form-control">
                    <!--======== elegir grupo ===========-->
                    <div class="row mb-3">
                        <label for="ngrupo" class="col-sm-2 col-form-label">Seleccionar Grupo</label>
                        <div class="col-sm-7">
                            <select id="ngrupo" name="ngrupo" class="form-select" required>
                                {% for ng in ngrupos %}
                                <option value="{{ng.id}}">{{ng.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-3 text-end">
                        <!--================modal =================-->
                        <span data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Crear un Nuevo Grupo de formación">
                          <a type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#registrarGrupo">
                            Registrar
                        </a>
                        </span>
                        <span data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Listar los Grupos de formación vacios">
                          <a type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#visualizarGrupo">
                            Listar
                          </a>
                        </span>
                        
                        </div>
                      </div>
                    <!--============End elegir ==========-->
                  </div>
                  <!--============acordion elegir cursos =============-->
                  <div class="accordion" id="accordioncursos">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#acordion1" aria-expanded="true" aria-controls="acordion1">
                          Seleccionar cursos
                        </button>
                      </h2>
                      <div id="acordion1" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordioncursos">
                        <div class="accordion-body">
                          <!--tabla responsiva-->
                          <div class="table-responsive">
                          <table class="table" id="tablareactiva_02">
                            <thead>
                              <tr>
                                <th scope="col">No</th>
                                <th scope="col">Curso</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Seleccionar</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for curso in cursos %}
                                    <tr>
                                        <td>{{ curso.id }}</td>
                                        <td>{{ curso.nombre }}</td>
                                        <td>{{ curso.descrip }}</td>
                                        <td><input type="checkbox" name="cursosselec" value="{{ curso.id }}"></td>
                                    </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        <!--end tabla-->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--=============end acordion 01============-->
                   <!--============acordion elegir cursos =============-->
                   <div class="accordion" id="accordionusu">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#acordion2" aria-expanded="true" aria-controls="acordion2">
                          Seleccionar usuarios
                        </button>
                      </h2>
                      <div id="acordion2" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionusu">
                        <div class="accordion-body">
                          <!--crear nuevo usuario-->
                             <div class="text-end">
                               <button class="btn btn-outline-primary mb-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#nuevoUsuario" aria-controls="offcanvasRight">Nuevo usuario</button>
                              </div>
                          <!--tabla responsiva-->
                          <div class="table-responsive">
                          <table class="table" id="tablareactiva">
                            <thead>
                              <tr>
                                <th scope="col">No</th>
                                <th scope="col">Nombres</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Seleccionar</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for us in usuarios %}
                                    <tr>
                                        <td>{{ us.id }}</td>
                                        <td>{{ us.nombre }}</td>
                                        <td>{{ us.apellido }}</td>
                                        <td><input type="checkbox" name="ususelect" value="{{ us.id }}"></td>
                                    </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        <!--end tabla-->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--=============end acordion 01============-->
                  <div class="text-end mt-2">
                    <button type="submit" class="btn btn-outline-primary"><i class="bi bi-floppy2-fill"></i> | Guardar </button>
                    <a type="button" class="btn btn-outline-warning" href="/administracion/grupos/list/" style="color: black;"> <i class="bi bi-box-arrow-left"></i> | Cancelar </a>
                  </div>
              </div>
               </form>
               <br>
              <!--======================================-->
          </div>
        </div>
      </div>
       <!--end forms -->
      </div>
    </section>
</main><!-- End #main -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<!---para funcionar el registro de usuarios-->
<script src="/static/admin/assets/js/savearea.js"></script>
<script src="/static/admin/assets/js/buscarareas.js"></script>
<script src="/static/admin/assets/js/seepass.js"></script>
<!---end registro-->
<script src="/static/admin/assets/js/addgrupo.js"></script>
<script src="/static/admin/assets/js/updategrupo.js"></script>
<!--script para buscar arear pertenecientes a la empresa-->
<!-- Asegúrate de tener jQuery incluido antes de este script -->
{% endblock %} 