{% extends 'layoutsinicio/app2.html' %}

{% block content %}
{% load static %}
<div class="container mt-5 mb-5">
    <!--alertar-->
    {% if error %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{error}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <!--end alertar-->
     <div class="row">
      <div class="col-12 text-center" style="color: white;">
          <h2>Aplicación de Cultura</h2>
          <p><small>Por favor, escanea el siguiente código QR para registrar tu asistencia o completar formularios del curso. ¡Gracias!</small></p>
          <br>
          <img src="{{qr_code_url}}" class="rounded mx-auto d-block d-sm-none" alt="Cargando imagen ..." style="width: 200px; height: 200px;">
          <img src="{{qr_code_url}}" class="rounded mx-auto d-block d-none d-sm-block" alt="Cargando imagen ..." style="width: 300px; height: 300px;">
          <br>
          <button type="button" class="btn btn-warning" onclick="copiarlink('{{data}}')" id="btnlink" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Copiar enlace al portapapeles">Copiar Enlace</button>
      </div>
    <br><br>
    
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script type="text/javascript" src="{% static '/admin/assets/js/empresa.js' %}"></script>

{% endblock %} 