<!---Vista principal-->
{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Flow</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'admin/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'admin/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  {% include "layoutsinicio/cssadmin.html" %}
  {% block head %}{% endblock head %}
</head>
<body>
  {% include "layoutsinicio/header.html" %}
<!-- ======= Sidebar ======= -->
 <!--menu administrador-->
    {% if usu.idrol.descrip == 'admin' %}
     {% include "menu/menuadmin.html" %}
    {% elif usu.idrol.descrip == 'usuario' %}
     {% include "menu/menusuario.html" %}
    {% elif usu.idrol.descrip == 'jefe' %}
     {% include "menu/menujefe.html" %}
    {% else %}
     {% include "menu/menuformador.html" %}
    {% endif %}
  <!-- End Sidebar-->

   <!--aqui la info-->
   {% block content %}
   {% endblock %}
   <!--end informacion-->
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>EVOLUCIÓN S.A.S</span></strong>. Todos los derechos reservados
    </div>
    <div class="credits">
      V 1.0.0 2024
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!--assets de js-->
  {% include "layoutsinicio/jsadmin.html" %}

  {% block js %}{% endblock js %}
</body>

</html>
<!--end vista principal-->