{% extends 'admin/inicio.html' %}
{% block content %}


<main id="main" class="main">

    <div class="pagetitle">
      <h1>Listado de comentarios</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/administracion/">Inicio</a></li>
          <li class="breadcrumb-item"><a href="/administracion/curso/list/">Listado</a></li>
          <li class="breadcrumb-item active">Calificación</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
       <!--registro de cursos forms-->   
       <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
              <br>
               <!--alertar-->
               {% if messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  {% for message in messages %}
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  {% endfor %}
                </div>
               {% endif %}
               <div class="row">
                <div class="col-12 text-end"><a href="/administracion/curso/list/" class="btn btn-warning"><i class="bi bi-box-arrow-left"></i> | Volver</a></div>
               </div>
               <!--Barra de aceptacion-->
               <h6>Aceptación del curso: {{curso.nombre}}</h6>
               <br>
              <!--================================ grafica ====================-->
              <div class="row">
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title"><br></h5>
                    <!-- Bar Chart -->
                    <canvas id="barChart" style="max-height: 400px;"></canvas>
                    <!-- End Bar CHart -->
                  </div>
                </div>
              </div>
               <!--====================================== end grafica ===================-->
               <!--==================== grafica de torta ================================-->
               <div class="col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <!-- Pie Chart -->
                    <canvas id="pieChart" style="max-height: 230px;"></canvas>
                    <!-- End Pie CHart -->
                  </div>
                </div>
              </div>
              </div>
               <!--======================end grafico ===================================-->
               
               <h6>Aceptación del formador: {{curso.idusu.nombre}} {{curso.idusu.apellido}}</h6>
               <hr> 
               <br>
               <div class="row">
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"><br></h5>
                      <!-- Bar Chart -->
                      <canvas id="barFormador" style="max-height: 400px;"></canvas>
                      <!-- End Bar CHart -->
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="card">
                    <p></p>
                    <div class="card-body">
                      <!-- Bar Chart -->
                      <canvas id="pieFormador" style="max-height: 250px;"></canvas>
                      <!-- End Bar CHart -->
                    </div>
                  </div>
                </div>
                </div>
               <!-- Table with stripped rows -->
               <h6>Respuestas de preguntas abiertas.</h6>
               <hr>
               <div class="table-responsive">
               <table class="table" id="tablareactiva">
                <thead>
                  <tr>
                    <th>Usuario</th>
                    <th>Empresa</th>
                    <th>Cargo</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in datos %}
                  <tr>
                    <td>{{ data.idusuario.nombre }} {{data.idusuario.apellido}}</td>
                    <td>{{ data.idusuario.idarea.idempresa.nombre }} {{ data.idusuario.idepart.idarea.idempresa.nombre }}</td>
                    <td>{{ data.idusuario.cargo }}</td>
                    <!--botones de acciones-->
                    <td>
                      <a type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#vermas{{data.id}}"><i class="bi bi-list-task"></i></a>
                      <div class="modal fade" id="vermas{{data.id}}" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Respuestas de calificaciones</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                               <!--respuestas-->
                               <div class="alert alert-primary" role="alert">
                                Calificación al formador 
                              </div>
                               <div class="form-control">
                                {% for cap in formador %}
                                <div class="mb-3">
                                  {% if cap.usuario.id == data.idusuario.id %}
                                  <small>
                                    <label for="message-text" class="col-form-label">
                                      <b>Aspectos a rescatar:&nbsp;</b>¿Cuáles fueron los aspectos más destacados del formador? ¿Cuáles podrían ser aspectos a fortalecer?
                                    </label>
                                  </small>
                                  <p class="form-control"><small>{{cap.aspectosrescatar}} </small></p>
                                  {% endif %}
                                </div>
                                {% endfor %}
                              </div>
                               <!--============================-->
                               <div class="alert alert-primary mt-2" role="alert">
                                Calificación a la sesión del curso
                              </div>
                               <div class="form-control">
                                <div class="mb-3">
                                  <small>
                                  <label for="message-text" class="col-form-label">
                                    <b>Fortalezas del curso:&nbsp;</b> ¿Cuáles crees que fueron las principales fortalezas de este curso? Por favor, proporciona detalles específicos sobre aspectos que encontraste especialmente útiles o efectivos.
                                  </label></small>
                                  <p class="form-control"><small> {{data.fortalezas}} </small></p>
                                </div>
                                <div class="mb-3">
                                  <small>
                                  <label for="message-text" class="col-form-label">
                                    <b>Áreas de mejora sugeridas:&nbsp;</b> ¿Hay áreas específicas en las que crees que este curso podría mejorar? Por favor, comparte cualquier sugerencia o recomendación que tengas para futuras iteraciones del curso.
                                  </label></small>
                                  <p class="form-control"><small> {{data.areasmejora}} </small></p>
                                </div>
                              </div>
                               <!---respuestas-->
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Salir</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% if usu.idrol.id != 3 %}
                        <!--modal de validación-->
                          <a type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmarDelete{{data.id}}"><i class="bi bi-trash3-fill"></i></a>
                          <div class="modal fade" id="confirmarDelete{{data.id}}" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Confirmar</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  ¿Estás seguro de que deseas eliminar esta calificación.?
                                </div>
                                <div class="modal-footer">
                                  <a class="btn btn-primary" href="{% url 'borrarcalificacion' idcali=data.id %}">Si</a>
                                  <button type="button" class="btn btn-warning" data-bs-dismiss="modal">No</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endif %}
                        <!--end validacion-->
                    </td>
                  </tr>
                  {% endfor %} 
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
               </div>
            </div>
          </div>
       </div>
      </div>
    </section>
</main><!-- End #main -->

<script>
    document.addEventListener("DOMContentLoaded", () => {
      new Chart(document.querySelector('#barChart'), {
        type: 'bar',
        data: {
          labels: ['Relevancia del contenido', 'Claridad de la presentación', 'Aplicabilidad de los conceptos'],
          datasets: [{
            label: 'Calificación',
            data: ['{{ promrlevancia }}', '{{promclaridad}}', '{{promaplicabilidad}}'],
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(255, 159, 64, 0.2)',
              'rgba(255, 205, 86, 0.2)'
            ],
            borderColor: [
              'rgb(255, 99, 132)',
              'rgb(255, 159, 64)',
              'rgb(255, 205, 86)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    });
</script>
<!--grafico torta-->
<script>
  document.addEventListener("DOMContentLoaded", () => {
    new Chart(document.querySelector('#pieChart'), {
      type: 'pie',
      data: {
        labels: [
          'Relevancia del contenido',
          'Claridad de la presentación',
          'Aplicabilidad de los conceptos'
        ],
        datasets: [{
          label: 'Calificación %',
          data: ['{{ valorescurso.valorc1 }}', '{{ valorescurso.valorc2 }}', '{{ valorescurso.valorc3 }}'],
          backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)'
          ],
          hoverOffset: 4
        }]
      }
    });
  });
</script>
<!--grafico del formador -->
<script>
  document.addEventListener("DOMContentLoaded", () => {
    new Chart(document.querySelector('#barFormador'), {
      type: 'bar',
      data: {
        labels: ['Claridad en la explicación', 'Fomentar la participación', 'Dominio del contenido'],
        datasets: [{
          label: 'Calificación',
          data: ['{{ formclaridad }}', '{{formcapacidad}}', '{{formdominio}}'],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 205, 86, 0.2)'
          ],
          borderColor: [
            'rgb(255, 99, 132)',
            'rgb(255, 159, 64)',
            'rgb(255, 205, 86)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  });
</script>
<!--grafico de torta formador -->
<script>
  document.addEventListener("DOMContentLoaded", () => {
    new Chart(document.querySelector('#pieFormador'), {
      type: 'pie',
      data: {
        labels: [
          'Claridad en la explicación',
          'Fomentar la participación',
          'Dominio del contenido'
        ],
        datasets: [{
          label: 'Calificación %',
          data: ['{{ valores.valor1 }}', '{{ valores.valor2 }}', '{{ valores.valor3 }}'],
          backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)'
          ],
          hoverOffset: 4
        }]
      }
    });
  });
</script>
  {% endblock %} 