{% extends 'admin/inicio.html' %}
{% block content %}
<!-- detalle_curso.html -->
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Grupos de formación</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/administracion">Inicio</a></li>
          <li class="breadcrumb-item active">Listado</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
       <!--registro de cursos forms-->   
       <div class="col-lg-12">
        <div class="card">
          <div class="card-body mt-3">
              <!--alertar-->
            {% if messages %}
            <br>
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {% for message in messages %}
                  <strong>{{ message }}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% endfor %}
              </div>
             {% endif %}
              <!--end alertar-->
              <!----=======================================-->
              <div>
                <a type="button" class="btn btn-primary" href="/administracion/grupos/crear/"> Agregar </a>
              </div>
              <div class="table-responsive mt-4">
                <table class="table" id="tablareactiva">
                    <thead>
                    <tr>
                        <th>Id interno</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>No. Usuarios</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                  <tbody>
                  {% if grupos_des %}   
                  {% for grupo, cursos_info in grupos_con_cursos.items %}
                    {% for gr in grupos_des %}
                    {% if grupo == gr.nombre %}  
                    <tr>
                      <td> {{ gr.id }} </td>
                       <td> {{ gr.nombre }}  </td>
                       <td> {{ gr.descrip }}  </td>
                       <td> {{ gr.total }} </td>
                         <td>
                           <!-- Button trigger modal -->
                             <a type="button" class="btn btn-primary" href="{% url 'cursosgrupo' idgrupo=gr.id %}">Cursos</a>
                             <a class="btn btn-success" href="{% url 'usersgrupo' idgrupo=gr.id %}">Usuarios</a>
                             <a type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#btnconfirmar{{gr.id}}"><i class="bi bi-trash3-fill" style="font-size: 20px;"></i></a>
                             <!---modal de confirmación-->
                             <!-- Modal -->
                              <div class="modal fade" id="btnconfirmar{{gr.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      <h5>¿Estás seguro de que deseas eliminar este grupo?</h5>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                                      <a type="button" class="btn btn-warning" href="{% url 'deletegrupos' idgrupo=gr.id %}">Si</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                             <!--end modal confirmacion-->
                         </td>
                     </tr>
                     {% endif %}
                     {% endfor %}
                 {% endfor %}
                 {% endif %}
                 <!---imprimir los grupos presentes en la tabla curso-->
                 {% for datos in datos_faltantes %}
                    <tr>
                      <td> {{ datos.id }} </td>
                      <td> {{ datos.nombre }}  </td>
                      <td> {{ datos.descrip }}  </td>
                      <td> {{ datos.total }} </td>
                        <td>
                          <!-- Button trigger modal -->
                            <a type="button" class="btn btn-primary" href="{% url 'cursosgrupo' idgrupo=datos.id %}">Cursos</a>
                            <a class="btn btn-success" href="{% url 'usersgrupo' idgrupo=datos.id %}">Usuarios</a>
                        </td>
                    </tr>
                    </tr>
                 {% endfor %}
                  </tbody>
                </table>
               </div>
               <br>
              <!--======================================-->
          </div>
        </div>

      </div>
       <!--end forms -->
      </div>
    </section>
</main><!-- End #main -->
{% endblock %} 