
{% extends 'admin/inicio.html' %}
{% block content %}
<!-- detalle_curso.html -->
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Usuarios compromisos</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/administracion/">Inicio</a></li>
          <li class="breadcrumb-item active">Listado</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
       <!--registro de cursos forms-->   
       <div class="col-lg-12">
        <div class="card">
          <div class="card-body mt-3">
              <!--alertar-->
            {% if messages %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {% for message in messages %}
                  <strong>{{ message }}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% endfor %}
              </div>
             {% endif %}
              <!--end alertar-->
              <!----=======================================-->
              <div class="table-responsive mt-4">
                <table class="table" id="tablareactiva">
                    <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Apellido</th>
                        <th>Usuario</th>
                        <th>Cedula</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                  <tbody>
                    {% for usu in usuarios %}
                     <!--aqui datos de usuarios--> 
                      <tr>
                        <td>{{usu.nombre}} {{usu.id}}</td>
                        <td>{{usu.apellido}}</td>
                        <td>{{usu.user.username}}</td>
                        <td>{{usu.cedula}}</td>
                        <td>{{usu.idrol.descrip}}</td>
                        <td>
                          {% if usu.compromisos_set.all %}
                          <a class="btn btn-info" href="{% url 'vercompromisos' iduser=usu.id %}"><i class="bi bi-card-checklist"></i></a>
                          {% else %}
                          <a class="btn btn-secondary" disable>Sin compromisos</a>
                          {% endif %}
                        </td>
                      </tr>
                     <!--end datos user-->
                     {% endfor %}
                  </tbody>
                </table>
               </div>
               <br>
              <!--======================================-->
          </div>
        </div>

      </div>
       <!--end forms -->
      </div>
    </section>
</main><!-- End #main -->
{% endblock %} 