{% extends 'admin/inicio.html' %}
{% block content %}
<!-- detalle_curso.html -->
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Listado de KPIs</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/administracion">Inicio</a></li>
          <li class="breadcrumb-item active">KPIs</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
       <!--registro de cursos forms-->   
       <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
              <!--alertar-->
              <div class="row">
                <div class="col-12 mt-3">
                  <a type="button" class="btn btn-outline-primary" href="{% url 'kpiarea' %}"  data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Crear Nuevos KPIs"> Agregar KPI </a>
              </div>
              </div>
            
            {% if messages %}
            <br>
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {% for message in messages %}
                  <strong>{{ message }}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% endfor %}
              </div>
             {% endif %}
              <!--end alertar-->
              <!----=======================================-->
              <div class="table-responsive mt-3">
                <table class="table" id="tablareactiva">
                 <thead>
                   <tr>
                     <th>Nombre</th>
                     <th>Empresa</th>
                     <th>Area</th>
                     <th>Departamento</th>
                     <th></th>
                     <th>Acciones</th>
                   </tr>
                 </thead>
                 <tbody>
                  {% for kparea in kpareas %}
                   <tr>
                     <td><small>{{ kparea.nombre }}</small></td>
                     <td>
                      {% if kparea.idarea  %}
                        <small>{{kparea.idarea.idempresa.nombre}}</small>
                      {% else %}
                         <small>{{kparea.idepar.idarea.idempresa.nombre}}</small>
                      {% endif %}
                     </td>
                     <td>
                      {% if kparea.idarea.nombre %}
                      <p><small>{{ kparea.idarea.nombre }}</small></p>
                      {% else %}
                        <p><small>Kpi aplicado al departamento </small></p>
                      {% endif %}
                     </td>
                     <td>
                      {% if kparea.idepar.nombre %}
                        <p><small>{{ kparea.idepar.nombre }}</small></p>
                      {% else %}
                        <p><small>Kpi aplicada al area </small></p>
                      {% endif %}
                     </td>  
                      <!--================== Descripción ===============-->
                      <td>
                           <!-- Modal Dialog Scrollable -->
                        <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#modalListaKPI{{kparea.id}}">
                          <b>Ver mas</b>
                         </button>
                         <div class="modal fade" id="modalListaKPI{{kparea.id}}" tabindex="-1">
                           <div class="modal-dialog modal-dialog-scrollable modal-lg">
                             <div class="modal-content">
                               <div class="modal-header">
                                 <h5 class="modal-title">Información adicional del KPI: {{kparea.nombre}}</h5>
                                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                               </div>
                               <div class="modal-body">
                                 <div class="container">
                                  <!--contenedor de descripcion-->
                                    <div class="row">
                                      <label class="col-sm-2 col-form-label"><b>Descripción:</b></label>
                                      <div class="col-sm-6 col-form-label">
                                        {{ kparea.descrip }}
                                      </div>
                                      <label class="col-sm-2 col-form-label"><b>Valor:</b></label>
                                      <div class="col-sm-2 col-form-label">
                                       {{ kparea.valor | floatformat:0 }}
                                      </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                      <label class="col-sm-3 col-form-label"><b>Fecha Inicial:</b></label>
                                      <div class="col-sm-3 col-form-label">
                                        {{ kparea.fechaini |date:"Y-m-d" }} 
                                      </div>
                                      <label class="col-sm-3 col-form-label"><b>Fecha Final:</b></label>
                                      <div class="col-sm-3 col-form-label">
                                        {{ kparea.fechafin |date:"Y-m-d" }} 
                                      </div>
                                    </div>
                                    <hr>
                                  <!--===================-->
                                  </div>
                                 <div class="table-responsive">
                                 <table>
                                     <thead>
                                       <tr>
                                         <th>Objetivo</th>
                                         <th>Meta</th>
                                         <th>Indicadores</th>
                                       </tr>
                                     </thead>
                                   <tbody>
                                    {% for kpobj in kpobjs %}
                                      {% if kpobj.idkpi == kparea %}
                                     <tr>
                                       <td>{{ kpobj.objtivo }}</td>
                                       <td>{{ kpobj.meta }}</td>
                                       <td>{{ kpobj.indicador }}</td>
                                     </tr>
                                     {% endif %}
                                   {% endfor %}
                                     </tbody>
                                 </table>
                                </div>
                               </div>
                               <div class="modal-footer">
                                 <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Salir</button>
                               </div>
                             </div>
                           </div>
                         </div><!-- End Modal Dialog Scrollable-->
                      </td>
                      <!--===================== end descripcion ===========-->
                     <td>
                      <!---botones-->
                      <!--end validacion-->
                      <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <a type="button" class="btn {% if kparea.estado  %} btn-outline-success {% else %}  btn-outline-warning {% endif %}" data-bs-toggle="modal" data-bs-target="#EstadoKPI{{kparea.id}}">{% if kparea.estado %}<i class="bi bi-toggle2-on" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Cambiar el estado del KPI: {{ kparea.nombre }}"></i> {% else %} <i class="bi bi-toggle2-off" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Cambiar el estado del KPI: {{ kparea.nombre }}"></i> {% endif %}</a>
                        <a type="button" class="btn btn-outline-primary" href="{% url 'editarkpi' idkpi=kparea.id %}"  data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Editar el KPI de {{ kparea.nombre }}"><i class="bi bi-pencil-square"></i></a>
                        <a type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#borrarKPI{{kparea.id}}"><i class="bi bi-trash3-fill" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Eliminar el KPI: {{ kparea.nombre }}"></i></a>
                      </div>
                      <!--end botones-->
                      <div class="modal fade" id="borrarKPI{{kparea.id}}" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Confirmar</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              ¿Estás seguro de que deseas eliminar este KPI?
                            </div>
                            <div class="modal-footer">
                              <a class="btn btn-primary" href="{% url 'eliminarkpi' idkpi=kparea.id %}">Si</a>
                              <button type="button" class="btn btn-warning" data-bs-dismiss="modal">No</button>
                            </div>
                          </div>
                        </div>
                      </div>
                     <!--=============================-->
                     <!--================= desactivar kpi ========================-->
                     <div class="modal fade" id="EstadoKPI{{kparea.id}}" tabindex="-1">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Confirmar</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            ¿Está seguro que desea {% if kparea.estado %} desactivar  {% else %} activar {% endif %} este KPI?
                          </div>
                          <div class="modal-footer">
                            <a class="btn btn-primary" href="{% url 'desactivarkpi' idkpi=kparea.id %}">Si</a>
                            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">No</button>
                          </div>
                        </div>
                      </div>
                    </div>
                     <!--====================desactivar kpi ======================-->
                    </td>      
                   </tr>
                   {% endfor %} 
                 </tbody>
               </table>
               <!-- End Table with stripped rows -->
                </div>
             
              <!--======================================-->
          </div>
        </div>

      </div>
       <!--end forms -->
      </div>
    </section>
</main><!-- End #main -->
{% endblock %} 