{% extends 'admin/inicio.html' %}
{% block content %}

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Listado de cursos</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
        <li class="breadcrumb-item active">Listado</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <!--registro de cursos forms-->
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">

            <!--alertar-->
            {% if messages %}
            <br>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              {% for message in messages %}
              <strong>{{ message }}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              {% endfor %}
            </div>
            {% endif %}
            <br>
            <div class="row">
              <div class="mt-3 col-2">
                <a type="button" class="btn btn-outline-primary" href="{% url 'registroCursos' %}" data-bs-toggle="tooltip"
                  data-bs-placement="right" data-bs-title="Agregar Nuevo Curso"> Nuevo Curso </a>
              </div>
              <div class="mt-3 col-10 text-end"></div>
            </div>
            <br>
            <!--end alertar-->
            <!-- Table with stripped rows -->
            <div class="table-responsive">
              <table class="table" id="tablareactiva">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Objetivos</th>
                    <th>Sesiones</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for curso in cursos %}
                  <tr>
                    <td><small>{{ curso.nombre }}</small></td>
                    <td><small>{{ curso.descrip }}</small></td>
                    <td><small>{{ curso.precio }}</small></td>
                    <td>
                      <!--aqui modal-->
                      <!-- Modal Dialog Scrollable -->
                      <span data-bs-toggle="tooltip" data-bs-placement="left"
                        data-bs-title="Listar los objetivos de {{curso.nombre}}">
                        <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal"
                          data-bs-target="#modalListaObjetivo{{curso.id}}">
                         <b>Objetivos</b> 
                        </button>
                      </span>

                      <div class="modal fade" id="modalListaObjetivo{{curso.id}}" tabindex="-1">
                        <div class="modal-dialog modal-dialog-scrollable modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Listado de objetivos</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <!--competencias-->
                              <h6>Competencias a trabajar</h6>
                              <ul>
                              {% for comp in curso.competenciacurso_set.all %}
                                <li>{{comp.idcompetencia.nombre}}</li>
                              {% endfor %}
                              </ul>
                              <!--end competencias-->
                              <hr>
                              <table>
                                <thead>
                                  <tr>
                                    <th>Descripción</th>
                                    <th>Competencias</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for objetivo in objetivos %}
                                  {% if objetivo.idcurso == curso %}
                                  <tr>
                                    <td><small>{{ objetivo.descrip }}</small></td>
                                    <td><small>{{ objetivo.competencias }}</small></td>
                                  </tr>
                                  {% endif %}
                                  {% endfor %}
                                </tbody>
                              </table>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Salir</button>
                            </div>
                          </div>
                        </div>
                      </div><!-- End Modal Dialog Scrollable-->
                      <!--end modal-->
                    </td>
                    <td>
                      <!--aqui modal-->
                      <!-- Modal Dialog Scrollable -->
                      <span data-bs-toggle="tooltip" data-bs-placement="left"
                        data-bs-title="Listar las sesiones del curso {{curso.nombre}}">
                        <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                          data-bs-target="#modalListaCurso{{curso.id}}">
                          <b>Sesiones</b>
                        </button>
                      </span>
                      <div class="modal fade" id="modalListaCurso{{curso.id}}" tabindex="-1">
                        <div class="modal-dialog modal-dialog-scrollable modal-lg ">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Listado de sesiones</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body table-responsive">
                              <table>
                                <thead>
                                  <tr>
                                    <th></th>
                                    <th>Fecha</th>
                                    <th>Lugar</th>
                                    <th>Asistencia</th>
                                    <th>Asistentes</th>
                                    <th>Valoración</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for sesion in sesiones %}
                                  {% if sesion.idcurso == curso %}
                                  <tr>
                                    <td>
                                      <a class="btn btn-outline-primary btn-sm" data-bs-toggle="collapse" href="#vermas{{sesion.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <i class="bi bi-plus-circle-fill" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Ver mas ..."></i>
                                      </a>
                                    </td>
                                    <td><small>{{ sesion.fechainicio|date:"n/j/y g:i a" }}</small></td>
                                    <td><small>{{ sesion.lugar }}</small></td>
                                    <td class="text-center"><a class="btn btn-outline-success btn-sm" href="{% url 'generarqr' idsesion=sesion.id %}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Comparte la asistencia mediante código QR">
                                      <i class="bi bi-share-fill"></i></a>
                                    </td>
                                    <td class="text-center">
                                      {% if sesion.sesionasistencia_set.all %}
                                      <a class="btn btn-outline-primary btn-sm" href="{% url 'listarasistentes'  idsesion=sesion.id %}" role="button" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Listar los asistentes de la sesión">Ver</a>
                                      {% else %}
                                      <p style="color: black;"><small>Sin registro</small></p>
                                      {% endif %}
                                    </td>
                                    <td class="text-center">
                                      {% if sesion.calificacionusuarios_set.all %}
                                      <a class="btn btn-outline-success btn-sm" href="{% url 'listarcalificacion' idsesion=sesion.id %}" role="button"  data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Listar las métricas de la sesión">Ver</a>
                                      {% else %}
                                      <p style="color: black;"><small>Sin registro</small></p>
                                      {% endif %}
                                    </td>
                                  </tr>
                                  <!--=======================-->
                                  <tr>
                                    <td colspan="6"> 
                                      <div class="collapse" id="vermas{{sesion.id}}">
                                       <div class="card card-body">
                                         <!--===============================-->
                                         {% for tematica in tematicas %}
                                         {% if tematica.idsesion.id == sesion.id %}
                                          <label class="col-form-label"><small>Temáticas: </small></label>
                                          <p class="form-control"><small>{{ tematica.descrip }}</small></p>
                                          <label class="col-form-label"><small>Descripción: </small></label>
                                          <p class="form-control"><small>{{ tematica.competencias }}</small></p>
                                          <label class="col-form-label"><small>Recursos: </small></label>
                                          <p class="form-control"><small> {{ tematica.recursos }}</small></p>
                                         <div class="mb-1">
                                          <label class="col-form-label"><small>Archivo: </small></label>
                                           <a class="btn btn-outline-primary btn-sm" href="{{ tematica.ruta }}" download data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Descarga los archivos que corresponden a la tematica {{tematica.descrip}}">
                                            <i class="bi bi-cloud-arrow-down-fill"></i>
                                           </a>
                                          </div>
                                         {% endif %}
                                         {% endfor %}
                                         <!--================================-->
                                       </div>
                                      </div>
                                    </td>
                                  </tr>
                                  {% endif %}
                                  {% endfor %}
                                </tbody>
                              </table>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Salir</button>
                            </div>
                          </div>
                        </div>
                      </div><!-- End Modal Dialog Scrollable-->
                      <!--end modal-->
                    </td>
                    <!--botones de acciones-->
                    <td>
                       <!--===============================-->  
                       <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <a type="button" class="btn btn-outline-primary" style="display: inline-block;" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Métricas del curso: {{curso.nombre}}" href="{% url 'metricasCurso' idcurso=curso.id %}"><i class="bi bi-bar-chart-line"></i></a>
                        <a type="button" class="btn btn-outline-info" style="display: inline-block;" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Editar el curso {{curso.nombre}}" href="{% url 'editarcurso' idcurso=curso.id %}"><i class="bi bi-pencil-square"></i></a>
                        <a type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmarDelete{{curso.id}}"><i class="bi bi-trash3-fill"  data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Eliminar el curso: {{curso.nombre}}"></i></a>
                      </div>
                       <!--==============================-->
                        <!--modal de validación-->
                        <div class="modal fade" id="confirmarDelete{{curso.id}}" tabindex="-1">
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Confirmar</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                  aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                ¿Estás seguro de que deseas eliminar este curso?
                              </div>
                              <div class="modal-footer">
                                <a class="btn btn-primary" href="{% url 'eliminarcurso' idcurso=curso.id %}">Si</a>
                                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">No</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--end validacion-->
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main><!-- End #main -->
<!-- Aqui se encuentran las instrucciones para formularios -->
{% endblock %}