{% extends 'admin/inicio.html' %}
{% block content %}
<!-- detalle_curso.html -->
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Grupos de formación</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/administracion">Inicio</a></li>
          <li class="breadcrumb-item active">Listado</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
       <!--registro de cursos forms-->   
       <div class="col-lg-12">
        <div class="card">
          <div class="card-body mt-3">
              <!--alertar-->
            {% if messages %}
            <br>
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {% for message in messages %}
                  <strong>{{ message }}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% endfor %}
              </div>
             {% endif %}
             <!--mensajes del actualizar-->
             {% if duplicado %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>{{ duplicado }}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
             {% endif %}
             <!--end mensajes de actualizar-->
              <!--end alertar-->
              <!--=======================================-->
              <div class="row">
                <div class="col-3">
                  <a type="button" class="btn btn-primary" href="/administracion/grupos/crear/" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Agregar Grupos de Formación"> Nuevo Grupo </a>
                </div>
                <div class="col-9 text-end"><a href="/administracion/" class="btn btn-warning"><i class="bi bi-box-arrow-left"></i> | Volver</a></div>
              </div>
              <div class="table-responsive mt-4">
                <table class="table" id="tablareactiva">
                    <thead>
                    <tr>
                        <th>Id interno</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Total</th>
                        <th>Duplicar</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                  <tbody>
                  {% if grupos_des %}   
                  {% for grupo, cursos_info in grupos_con_cursos.items %}
                    {% for gr in grupos_des %}
                    {% if grupo == gr.nombre %}  
                    <tr>
                      <td> {{ gr.id }} </td>
                       <td> {{ gr.nombre }}  </td>
                       <td> {{ gr.descrip }}  </td>
                       <td> {{ gr.total }} </td>
                       <td> <a href="{% url 'duplicarGrupo' idgr=gr.id %}" class="btn btn-warning"><i class="bi bi-copy"></i></a> </td>
                         <td>
                           <!-- Button trigger modal -->
                             <div class="row">
                               <div class="col-3"><a type="button" class="btn btn-primary" href="{% url 'cursosgrupo' idgrupo=gr.id %}" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Asignar Cursos al grupo {{gr.nombre}}"><i class="bi bi-list-stars"></i></a></div>
                               <div class="col-3"><a class="btn btn-success" href="{% url 'usersgrupo' idgrupo=gr.id %}" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Asignar usuarios al grupo {{gr.nombre}}"><i class="bi bi-people-fill"></i></a></div>
                               <div class="col-3"><a type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#btnconfirmar{{gr.id}}"><i class="bi bi-trash3-fill"></i></a></div>
                               <div class="col-3"> <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#menulateral{{gr.id}}" aria-controls="offcanvasRight"><i class="bi bi-pencil-square"></i></button></div>
                             </div>
                             <!--====================================-->
                              <div class="offcanvas offcanvas-end" tabindex="-1" id="menulateral{{gr.id}}" aria-labelledby="offcanvasRightLabel">
                                <div class="offcanvas-header alert alert-warning">
                                  <h5 class="offcanvas-title" id="offcanvasRightLabel">Editar la información del grupo</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                  <!---infor grupo-->
                                  <form action="{% url 'editargrupoagregado' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-control">
                                    <div class="mb-3">
                                      <label for="nombre" class="form-label"><b>Nombre</b></label>
                                      <input type="text" class="form-control" id="nombre" name="nombre" value="{{gr.nombre}}">
                                    </div>
                                    <div class="mb-3">
                                      <label for="descrip" class="form-label"><b>Descripción</b></label>
                                      <textarea type="text" class="form-control" id="descrip" name="descrip" rows="5">{{gr.descrip}}</textarea>
                                    </div>
                                    <div class="text-end">
                                      <input value="{{gr.id}}" name="idgrupo" id="idgrupo" hidden>
                                      <button type="submit" class="btn btn-primary">Actualizar</button>
                                    </div>
                                  </div>
                                  </form>
                                  
                                  <!--end info grupo-->
                                </div>
                              </div>
                             <!--=====================================-->
                             <!---modal de confirmación-->
                             <!-- Modal -->
                              <div class="modal fade" id="btnconfirmar{{gr.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      <h5>¿Estás seguro de que deseas eliminar este grupo?</h5>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                                      <a type="button" class="btn btn-warning" href="{% url 'deletegrupos' idgrupo=gr.id %}">Si</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                             <!--end modal confirmacion-->
                         </td>
                     </tr>
                     {% endif %}
                     {% endfor %}
                 {% endfor %}
                 {% endif %}
                 <!---imprimir los grupos presentes en la tabla curso-->
                 {% for datos in datos_faltantes %}
                    <tr>
                      <td> {{ datos.id }} </td>
                      <td> {{ datos.nombre }}  </td>
                      <td> {{ datos.descrip }}  </td>
                      <td> {{ datos.total }} </td>
                        <td>
                          <!-- Button trigger modal -->
                            <a type="button" class="btn btn-primary" href="{% url 'cursosgrupo' idgrupo=datos.id %}">Cursos</a>
                            <a class="btn btn-success" href="{% url 'usersgrupo' idgrupo=datos.id %}">Usuarios</a>
                        </td>
                    </tr>
                    </tr>
                 {% endfor %}
                  </tbody>
                </table>
               </div>
               <br>
              <!--======================================-->
          </div>
        </div>

      </div>
       <!--end forms -->
      </div>
    </section>
</main><!-- End #main -->
{% endblock %} 