{% extends 'admin/inicio.html' %}
{% block content %}
<!-- detalle_curso.html -->
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Grupos de formación</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/administracion/">Inicio</a></li>
          <li class="breadcrumb-item"><a href="/administracion/grupos/list/">Grupos</a></li>
          <li class="breadcrumb-item active">Usuarios</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
       <!--registro de cursos forms-->   
       <div class="col-lg-12">
        <div class="card">
          <div class="card-body mt-3">
              <!--alertar-->
            {% if messages %}
            <br>
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {% for message in messages %}
                  <strong>{{ message }}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% endfor %}
              </div>
             {% endif %}
              <!--end alertar-->
              <!----=======================================-->
              <h4 class="text-center">Grupo: {{gruponame.nombre}}</h4>
              <div class="table-responsive mt-4">
                <form action="{% url 'cursosgrupo' idgrupo=idgrupo %}" method="post">
                {% csrf_token %}
                <table class="table" id="tablareactiva">
                    <thead>
                    <tr>
                        <th>Curso</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                  <tbody>
                     {% for reg in regcurso %}
                        <tr>
                            <td>{{reg.idcurso.nombre}}</td>
                            <td>{{reg.idcurso.descrip}}</td>
                            <td class="text-center"><input type="checkbox" name="cursoselect" value="{{ reg.id }}" checked></td>
                        </tr>
                     {% endfor %}
                     {% for curso in cursos %}
                        <tr>
                            <td>{{curso.nombre}}</td>
                            <td>{{curso.descrip}}</td>
                            <td class="text-center"><input type="checkbox" name="cursonew" value="{{ curso.id }}"></td>
                        </tr>
                     {% endfor %}
                  </tbody>
                </table>
                <div class="container text-center">
                   <button type="submit" class="btn btn-primary">Guardar</button>
                   <a type="button" class="btn btn-warning" href="/administracion/grupos/list/">Volver</a>
                </div>
                </form><!--end finalizar formularios -->
               </div>
               <br>
              <!--======================================-->
          </div>
        </div>

      </div>
       <!--end forms -->
      </div>
    </section>
</main><!-- End #main -->
{% endblock %} 