{% extends 'admin/inicio.html' %}
{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Listado de cursos</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Inicio</a></li>
          <li class="breadcrumb-item active">Listado</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
       <!--registro de cursos forms-->   
       <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
              <div class="mt-3">
                <a type="button" class="btn btn-primary" href="{% url 'registroCursos' %}"> Agregar </a>
              </div>
              <br>
               <!--alertar-->
               {% if messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  {% for message in messages %}
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  {% endfor %}
                </div>
               {% endif %}
               <!--end alertar-->
               <!-- Table with stripped rows -->
               <div class="table-responsive">
               <table class="table" id="tablareactiva">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Objetivos</th>
                    <th>Sesiones</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for curso in cursos %}
                  <tr>
                    <td>{{ curso.nombre }}</td>
                    <td>{{ curso.descrip }}</td>
                    <td>{{ curso.precio }}</td>
                    <td>
                       <!--aqui modal-->
                        <!-- Modal Dialog Scrollable -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalListaObjetivo{{curso.id}}">
                         Objetivos
                        </button>
                        <div class="modal fade" id="modalListaObjetivo{{curso.id}}" tabindex="-1">
                          <div class="modal-dialog modal-dialog-scrollable modal-lg">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Listado de objetivos</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <table>
                                    <thead>
                                      <tr>
                                        <th>Descripción</th>
                                        <th>Competencias</th>
                                      </tr>
                                    </thead>
                                  <tbody>
                                  {% for objetivo in objetivos %}
                                    {% if objetivo.idcurso == curso %}
                                    <tr>
                                      <td>{{ objetivo.descrip }}</td>
                                      <td>{{ objetivo.competencias }}</td>
                                    </tr>
                                    {% endif %}
                                  {% endfor %}
                                    </tbody>
                                </table>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Salir</button>
                              </div>
                            </div>
                          </div>
                        </div><!-- End Modal Dialog Scrollable-->
                      <!--end modal-->
                    </td>
                    <td>
                      <!--aqui modal-->
                         <!-- Modal Dialog Scrollable -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalListaCurso{{curso.id}}">
                          Sesiones
                        </button>
                        <div class="modal fade" id="modalListaCurso{{curso.id}}" tabindex="-1">
                          <div class="modal-dialog modal-dialog-scrollable modal-xl ">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Listado de sesiones</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body table-responsive">
                                <table>
                                    <thead>
                                      <tr>
                                        <th>Fecha</th>
                                        <th>Lugar</th>
                                        <th>Temáticas</th>
                                        <th>Descripción</th>
                                        <th>Recursos</th>
                                        <th>Archivos</th>
                                        <th>Compartir Asistencia</th>
                                        <th>Asistentes</th>
                                        <th>Valoración</th>
                                      </tr>
                                    </thead>
                                  <tbody>
                                  {% for sesion in sesiones %}
                                    {% if sesion.idcurso == curso %}
                                    <tr>
                                      <td>{{ sesion.fechainicio|date:"n/j/y g:i a" }}</td>
                                      <td>{{ sesion.lugar }}</td>
                                    {% for tematica in tematicas %}
                                      {% if tematica.idsesion == sesion %}
                                      <td>{{ tematica.descrip }}</td>
                                      <td>{{ tematica.competencias }}</td>
                                      <td>{{ tematica.recursos }}</td>
                                      <td class="text-center"><a  class="btn btn-primary" href="{% url 'download' ruta=tematica.ruta %}" download><i class="bi bi-cloud-arrow-down-fill" ></i></a></td>
                                      <td class="text-center"><a class="btn btn-primary" href="{% url 'generarqr' idsesion=sesion.id %}" target="_blank"><i class="bi bi-share-fill"></i></a></td>
                                      <td class="text-center">
                                        {% if sesion.sesionasistencia_set.all %}
                                        <a class="btn btn-primary" href="{% url 'listarasistentes'  idsesion=sesion.id %}" role="button">Ver</a>
                                        {% else %}
                                        <p style="color: black;">Sin registros</p>
                                        {% endif %}
                                      </td>
                                      <td class="text-center">
                                        {% if sesion.calificacionusuarios_set.all %}
                                         <a class="btn btn-primary" href="{% url 'listarcalificacion' idsesion=sesion.id %}"  role="button">Ver</a>
                                        {% else %}
                                        <p style="color: black;">Sin registros</p>
                                        {% endif %}
                                      </td>
                                      {% endif %}
                                    {% endfor %}
                                    </tr>
                                    {% endif %}
                                  {% endfor %}
                                 
                                    </tbody>
                                </table>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Salir</button>
                              </div>
                            </div>
                          </div>
                        </div><!-- End Modal Dialog Scrollable-->
                      <!--end modal-->
                    </td>
                    <!--botones de acciones-->
                    <td>
                      <div>
                        <div class="row">
                          <div class="col-4 text-center">
                            <a type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmarDelete{{curso.id}}"><i class="bi bi-trash3-fill"></i></a>
                          </div>
                          <div class="col-4 text-center">
                            <a type="button" class="btn btn-info" style="display: inline-block;" href="{% url 'editarcurso' idcurso=curso.id %}"><i class="bi bi-pencil-square"></i></a>
                          </div>
                          <div class="col-4 text-center">
                           <!--aqui visualizar competencias a revisar-->
                           <!-- Button trigger modal -->
                              <a type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#compe{{curso.id}}">
                                <i class="bi bi-list-stars"></i>
                              </a>

                              <!-- Modal -->
                              <div class="modal fade" id="compe{{curso.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h1 class="modal-title fs-5" id="exampleModalLabel">Competencias a trabajar</h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      <ul class="list-group">
                                      {% for comp in curso.competenciacurso_set.all %}
                                        <li class="list-group-item">{{comp.idcompetencia.nombre}}</li>
                                      {% endfor %}
                                     </ul>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Salir</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                           <!--end competencias-->
                          </div>
                        </div>
                        <!--modal de validación-->
                          <div class="modal fade" id="confirmarDelete{{curso.id}}" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Confirmar</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  ¿Estás seguro de que deseas eliminar este curso?
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-warning" data-bs-dismiss="modal">No</button>
                                  <a class="btn btn-primary" href="{% url 'eliminarcurso' idcurso=curso.id %}">Si</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        <!--end validacion-->
                      </div>
                    </td>                  
                  </tr>
                  {% endfor %} 
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
               </div>
            </div>
          </div>
       </div>
      </div>
    </section>
</main><!-- End #main -->
  <!-- Aqui se encuentran las instrucciones para formularios -->
  {% endblock %} 