{% extends 'admin/inicio.html' %}
{% block content %}
<!-- detalle_curso.html -->
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Grupos de formación</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/administracion/">Inicio</a></li>
          <li class="breadcrumb-item"><a href="/administracion/grupos/list/">Grupos</a></li>
          <li class="breadcrumb-item active">Usuarios</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
       <!--registro de cursos forms-->   
       <div class="col-lg-12">
        <div class="card">
          <div class="card-body mt-3">
            <div class="alert alert-primary" role="alert">
              <h5 class="text-center"><b>Grupo:</b> {{gruponame.nombre}}</h5>
            </div>
            <small><b>Nota:</b> En este apartado puede agregar nuevos colaboradores al grupo seleccionado.</small>
              <!--alertar-->
            {% if messages %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {% for message in messages %}
                  <strong>{{ message }}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% endfor %}
              </div>
             {% endif %}
              <!--end alertar-->
              <!----=======================================-->
              <div class="table-responsive mt-4">
                <form action="{% url 'usersgrupo' idgrupo=idgrupo %}" method="post">
                {% csrf_token %}
                <table class="table" id="tablareactiva">
                    <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Usuario</th>
                        <th>Cedula</th>
                        <th>Estado</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                  <tbody>
                    {% for reg in regusu %}
                       <tr>
                          <td>{{ reg.iduser.nombre }} {{ reg.iduser.apellido }}</td>
                          <td> {{ reg.iduser.user.username }}</td>
                          <td> {{ reg.iduser.cedula }} </td>
                          <td>
                          {% if reg.iduser.estado == 1 %}
                             Activado 
                          {% else %}
                             Desactivado
                          {% endif %}
                          </td>
                          <td> {{ reg.iduser.idrol.descrip }} </td>
                          <td class="text-center"><input type="checkbox" name="userselect" value="{{ reg.id }}" checked></td>
                       </tr>
                    {% endfor %} 
                    {% for us in usuarios %}
                        <tr>
                            <td>{{ us.nombre }} {{ us.apellido }}</td>
                            <td>{{ us.user.username }}</td>
                            <td>{{ us.cedula }}</td>
                            <td>
                            {% if us.estado == 1 %}
                                Activado 
                             {% else %}
                                Desactivado
                             {% endif %}
                            </td>
                            <td>{{ us.idrol.descrip }}</td>
                            <td class="text-center"><input type="checkbox" name="nuevosselect" value="{{ us.id }}"></td>
                        </tr>  
                   {% endfor %}  
                  </tbody>
                </table>
                <div class="container text-end mt-3">
                   <button type="submit" class="btn btn-outline-primary"> <i class="bi bi-floppy2-fill"></i> | Guardar</button>
                   <a type="button" class="btn btn-warning" href="/administracion/grupos/list/"><i class="bi bi-box-arrow-left"></i> | Cancelar</a>
                </div>
                </form><!--end finalizar formularios -->
               </div>
               <br>
              <!--======================================-->
          </div>
        </div>

      </div>
       <!--end forms -->
      </div>
    </section>
</main><!-- End #main -->
{% endblock %} 