{% extends 'admin/inicio.html' %}
{% block content%}
{% load static%}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Empresas</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/administracion">Inicio</a></li>
          <li class="breadcrumb-item active">Actualización</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
       <!--registro de cursos forms-->   
       <div class="col-lg-12">
      
        <div class="card">
          <div class="card-body">
            <div class="row">
               <div class="col-sm-8">
                <h5 class="card-title">
                  Modificar Empresa
                </h5>
               </div>
               <div class="col-sm-4 mt-2 text-end">
                 <a href="/administracion/empresa/list" class="btn btn-warning"><i class="bi bi-box-arrow-left"></i> | Volver</a>
               </div>
            </div>
              <!--alertar-->
              {% if msj %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{msj}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}
              <!--end alertar-->
            <!-- Horizontal Form --> 
            <form action="{% url 'modificarempresa' idempresa=empresa.id %}" method="post">
              {% csrf_token %}
              <div class="form-control">
              <!--=========================-->
              <div class="row mb-3">
                <label for="descrip" class="col-sm-2 col-form-label">Grupo Empresarial</label>
                <div class="col-sm-10">
                  <select class="form-select" aria-label="Default select example" name="groupEmp">
                    {% if empresa.idgrupoem.nombre %}
                    <option value="{{empresa.idgrupoem.id}}">{{empresa.idgrupoem.nombre}} - Nit: {{empresa.idgrupoem.nit}} </option>
                    <option value="">Empresa principal</option>
                    {% else %}
                    <option value="">Empresa principal</option>
                    {% endif %}
                    
                    {% for emp in grpEmp %}
                      {% if emp.id != empresa.idgrupoem.id %}
                        <option value="{{emp.id}}">{{emp.nombre}} - Nit: {{emp.nit}} </option>  
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!--=======================-->
              <div class="row mb-3">
                <label for="nombre" class="col-sm-2 col-form-label">Nombre de la Empresa</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="nombre" name="nameEmp" value="{{empresa.nombre}}" required>
                </div>
              </div>
              <div class="row mb-3">
                <label for="descrip" class="col-sm-2 col-form-label">NIT</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="nombre" name="nit" value="{{empresa.nit}}">
                </div>
                <label for="descrip" class="col-sm-2 col-form-label">Dirección Sede</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="nombre" name="direccion" value="{{empresa.direccion}}">
                </div>
              </div>
              <div class="row mb-3">
                <label for="descrip" class="col-sm-2 col-form-label">Correo</label>
                <div class="col-sm-4">
                    <input type="email" class="form-control" id="nombre" name="correo" value="{{empresa.correo}}">
                </div>
                <label for="descrip" class="col-sm-2 col-form-label">Teléfono</label>
                <div class="col-sm-4">
                    <input type="tel" class="form-control" id="nombre" name="telefono" value="{{empresa.telefono}}">
                </div>
              </div>
              <div class="row mb-3">
                <label for="descrip" class="col-sm-2 col-form-label">Sector</label>
                <div class="col-sm-4">
                  <select class="form-select" aria-label="Default select example" name="sector">
                    <option value="{{empresa.idsector.id}}">{{empresa.idsector.nombre}}</option>
                    {% for sc in sector %}
                      {% if sc.id != empresa.idsector.id %}
                        <option value="{{sc.id}}">{{sc.nombre}}</option>  
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <label for="descrip" class="col-sm-2 col-form-label">Tamaño empresa</label>
                <div class="col-sm-4">
                    <select class="form-select" aria-label="Default select example" name="tamanioEmp">
                      <option value="{{empresa.idtam.id}}">{{empresa.idtam.descrip}}</option>
                      {% for tam in tamempresa %}
                        <option value="{{tam.id}}">{{tam.descrip}}</option>
                      {% endfor %}
                    </select>
                </div>
              </div>
              </div>
            </div>
            <div class="container">
              <div class="text-end mb-3">
                <button type="submit" class="btn btn-primary"> <i class="bi bi-floppy2-fill"></i> | Actualizar </button>
              </div>
            </div>
            </form>
           
          </div>
        </div>

      </div>
       
      </div>
    </section>
  </main> 
  <!-- Aqui se encuentran las instrucciones para formularios -->
  <script src="{% static 'admin/assets/js/script.js' %} "></script> 
{% endblock content%}
