{% extends 'admin/inicio.html' %}
{% block content %}
{% load static%}
<!-- detalle_curso.html -->
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Actualizar Kpi</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/administracion">Inicio</a></li>
          <li class="breadcrumb-item"><a href="/administracion/kpis/list/">Kpis</a></li>
          <li class="breadcrumb-item active">Actualizar</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
       <!--registro de cursos forms-->   
       <div class="col-lg-12">
      
        <div class="card">
          <div class="card-body">
            <div class="row">
             <div class="col-lg-6">
              <h5 class="card-title">
                Actualizar KPI empresa: {{principal.nombre}}
              </h5>
             </div>
             <div class="col-lg-6 text-end">
              <a href="/administracion/kpis/list/" class="btn btn-warning mt-2"><i class="bi bi-box-arrow-left"></i> | Volver</a>
             </div>
            </div>
              <!--alertar-->
              {% if mensajeUp %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{mensajeUp}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}
              {% if messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  {% for message in messages %}
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  {% endfor %}
                </div>
               {% endif %}
              <!--end alertar-->
            <!-- Horizontal Form -->
            <form action="{% url 'editarkpi' idkpi=infokpis.id %}" method="post">
              {% csrf_token %}
              <div class="form-control">
              <div class="row mb-3">
                <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                  <textarea type="text" class="form-control" id="nombre" name="nombre" rows="2"  required>{{ infokpis.nombre }}</textarea>
                </div>
              </div>
              <div class="row mb-3">
                <label for="descrip" class="col-sm-2 col-form-label">Descripción</label> 
                <div class="col-sm-10">
                  <textarea type="text" class="form-control" id="descrip" name="descrip" rows="3" required>{{ infokpis.descrip }}</textarea>
                </div>
              </div>
              <!--fechas-->
              <div class="row mb-3">
                <label for="fecini" class="col-sm-2 col-form-label">Fecha inicial</label>
                <div class="col-sm-4">
                  <input type="date" class="form-control" id="fecini" name="fecini" rows="5"  min="{{fecha|date:'Y-m-d'}}"  value="{{ infokpis.fechaini |date:"Y-m-d" }}" required>
                </div>
                <label for="fecfin" class="col-sm-2 col-form-label">Fecha inicial</label>
                <div class="col-sm-4">
                  <input type="date" class="form-control" id="fecfin" name="fecfin" rows="5"  min="{{fecha|date:'Y-m-d'}}" value="{{ infokpis.fechafin |date:"Y-m-d" }}" required>
                </div>
              </div>
              <!--end fechas-->
              <div class="row mb-3">
                <label for="valor" class="col-sm-2 col-form-label">Valor</label>
                <div class="col-sm-4">
                  <input type="number" class="form-control" id="valor" name="valor" value="{{ infokpis.valor }}" min="0" required>
                </div>
                <label for="empresa" class="col-sm-2 col-form-label">Empresa</label>
                <div class="col-sm-4">
                <select id="emp" name="emp" class="form-select" required>
                    <option value="">Elegir ...</option>
                    {% for emp in empresa %}
                       <option value="{{emp.id}}">{{emp.nombre}}</option>  
                    {% endfor %}
                 </select>
                </div>
              </div>
              <div class="row mb-3">
                <label for="area" class="col-sm-2 col-form-label">Area</label>
                <div class="col-sm-4">
                  <select id="area" name="area" class="form-select">
                    <option value="{{infokpis.idarea.id}}" selected> {% if infokpis.idarea.nombre %} {{infokpis.idarea.nombre}} {% else %} Kpi aplicado a departamento {% endif %}</option>
                  </select>
                    <input type="checkbox" id="botonCheck"> <span><small> KPI exclusivamente al area.</small></span>
                </div>
                <label for="depar" class="col-sm-2 col-form-label">
                  <div id="elementoOcultoDos" style="display: block;">
                  Departamento&nbsp;<a type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Al seleccionar 'Sin departamentos' el KPI se registra solamnete para el area.">
                    <i class="bi bi-info-circle"></i>
                  </a> 
                  </div>
                </label>
                <div class="col-sm-4">
                  <div id="elementoOculto" style="display: block;">
                    <select id="depar" name="depar" class="form-select">
                      <option value="{{infokpis.idepar.id}}" selected> {{infokpis.idepar.nombre}}</option>
                    </select>
                     </div>
                </div>
              </div>
            </div>
              <!--objetivos del curso-->
            <!-- Default Accordion -->
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <p class="accordion-header" id="headingThree">
                  <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#idacorUpdate" aria-expanded="false" aria-controls="idacorUpdate">
                    Objetivos
                  </a>
                </p>
                <div id="idacorUpdate" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <!-- Contenedor para los campos del formulario -->
                    <!-- detalle_curso.html -->
                    {% for objetivo in obkpis %}
                    <div class="alert alert-primary" role="alert">
                        <h6 >Objetivo Número: {{ forloop.counter }}</h6>
                    </div>
                    <div class="row mb-3">
                        <label for="descripobj" class="col-sm-2 col-form-label">Descripción</label>
                        <div class="col-sm-10">
                          <textarea type="text" class="form-control" id="descripobj" name="descripobj_{{ objetivo.id }}"  rows="3"  required>{{ objetivo.objtivo }} </textarea>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="meta" class="col-sm-2 col-form-label">Meta</label>
                        <div class="col-sm-10">
                          <textarea type="text" class="form-control" id="meta" name="meta_{{ objetivo.id }}" rows="3"  required>{{ objetivo.meta }} </textarea>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="indicador" class="col-sm-2 col-form-label">Indicadores de éxito</label>
                        <div class="col-sm-10">
                          <textarea type="text" class="form-control" id="indicador" name="indicador_{{ objetivo.id }}" rows="3"  required>{{ objetivo.indicador }} </textarea>
                        </div>
                      </div>
                     {% endfor %}
                    <!--end contendor campos-->
                  </div>
                </div>
              </div>
            </div><!-- End Default Accordion Example -->
              <!--end check-->
              <div class=" text-end mt-2">
                <button type="submit" class="btn btn-outline-primary"> <i class="bi bi-floppy2-fill"></i> | Actualizar </button>
              </div>
            </form><!-- End Horizontal Form -->
           
          </div>
        </div>

      </div>
       <!--end forms -->
      </div>
    </section>
</main><!-- End #main -->
<script src="/static/admin/assets/js/savearea.js"></script>
{% endblock %} 