{% extends 'admin/inicio.html' %}
{% block content %}
<!-- detalle_curso.html -->
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Usuarios compromisos</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/administracion/">Inicio</a></li>
          <li class="breadcrumb-item"><a href="/administracion/compromisos/">Usuarios</a></li>
          <li class="breadcrumb-item active">Compromisos</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
       <!--registro de cursos forms-->   
       <div class="col-lg-12">
        <div class="card">
          <div class="card-body mt-3">
              <!--alertar-->
            <!----=======================================-->
            <div class="row mb-2">
              <div class="col-12 text-end"><a href="/administracion/compromisos/" class="btn btn-warning"><i class="bi bi-box-arrow-left"></i> | Volver</a></div>
              </div>
              <!---====================================-->
            {% if mensaje %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>{{ mensaje }}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
             {% endif %}
              <!--end alertar-->
              <div class="alert alert-primary" role="alert">
                <h5 class="text-center">Compromisos registrados por el usuario: {{usuario.nombre}} {{usuario.apellido}} </h5>
              </div>
              <small><b>Nota:</b> En este apartado puede enviar retroalimentación a los compromisos del usuario seleccionado.</small>
              <div class="table-responsive mt-4">
                <table class="table" id="tablareactiva">
                    <thead>
                    <tr>
                        <th>Curso</th>
                        <th>Fecha inicio</th>
                        <th>Fecha Final</th>
                        <th>Prioridad</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                  <tbody>
                    {% for com in compromisos %}
                     <!--aqui datos de usuarios--> 
                      <tr>
                        <td>{{ com.id_sesion.idcurso.nombre }}</td>
                        <td>{{ com.fecha_compromiso|date:'Y-m-d' }}</td>
                        <td>{{ com.fecha_final|date:'Y-m-d' }}</td>
                        <td>{{ com.prioridad }}</td>
                        <td>{{ com.id_estado.descripcion }}</td>
                        <td>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#ModalCompromiso{{com.id}}">
                              <i class="bi bi-plus-circle-fill" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Ver compromiso"></i>
                            </button>
                            <!---boton eliminar -->
                            <a type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#ModalConfirmarDelete{{com.id}}"><i class="bi bi-trash3"  data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Eliminar compromiso"></i></a>
                            <div class="modal fade" id="ModalConfirmarDelete{{com.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                       <h6>¿En realidad desea eliminar este compromiso asociado al usuario <b> {{ com.id_usuario.nombre }}  {{ com.id_usuario.apellido }} </b> ?</h6>
                                    </div>
                                    <div class="modal-footer">
                                    <a href="{% url 'deletecompromiso' idcomp=com.id %}" type="button" class="btn btn-primary">Si</a>
                                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">No</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="ModalCompromiso{{com.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Información del compromiso</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form method="post" action="{% url 'savecompromiso' idcom=com.id %}">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                    <!--informacion adicional del modal-->
                                    <div class="form-control">
                                        <div class="row">
                                           <div class="col-4">
                                              <h6>Compromiso:</h6>
                                           </div>
                                           <div class="col-8">
                                                {{com.compromiso}}
                                           </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-4">
                                               <h6>¿Con quién?:</h6>
                                            </div>
                                            <div class="col-8">
                                                <ul>
                                                 {% for per in com.personascompromisos_set.all %}
                                                    <li> {{per.id_usuario.nombre}} {{per.id_usuario.nombre}}</li>  
                                                 {% endfor %}
                                                </ul>
                                            </div>
                                         </div>
                                         <hr>
                                         <!---===============-->
                                        <div class="row mt-2">
                                            <div class="col-4">
                                               <h6>Respuesta:</h6>
                                            </div>
                                            <div class="col-8">
                                              {% if com.respuesta %}
                                              <textarea class="form-control" rows="5" name="respuesta">{{com.respuesta}}</textarea>
                                              {% else %}
                                              <textarea class="form-control" rows="5" name="respuesta"></textarea>
                                              {% endif %}
                                                 
                                            </div>
                                         </div>
                                         <hr>
                                         <div class="row mt-2">
                                            <div class="col-4">
                                               <h6>Puntaje:</h6>
                                            </div>
                                            <div class="col-8">
                                                 <input type="number" class="form-control" name="puntaje" min="0" value="{{com.puntaje}}">
                                            </div>
                                         </div>
                                         <hr>
                                         <div class="row mt-2">
                                            <div class="col-4">
                                               <h6>Estado:</h6>
                                            </div>
                                            <div class="col-8">
                                                 <select class="form-select" aria-label="Default select example" name="estado" id="estado">
                                                     <option value="{{com.id_estado.id}}" selected>{{com.id_estado.descripcion}}</option>
                                                    {% for estado in estados %}
                                                      {% if com.id_estado.id != estado.id  %}
                                                      <option value="{{estado.id}}">{{estado.descripcion}}</option>
                                                      {% endif %}
                                                      {% endfor %}
                                                  </select>
                                                 </div>
                                         </div>
                                        </div>
                                        
                                    <!--end informacion-->
                                    </div>
                                    <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Salir</button>
                                    </div>
                                    </form>
                                </div>
                                </div>
                            </div>
                        </td>
                      </tr>
                     <!--end datos user-->
                     {% endfor %}
                  </tbody>
                </table>
               </div>
               <br>
              <!--======================================-->
          </div>
        </div>

      </div>
       <!--end forms -->
      </div>
    </section>
</main><!-- End #main -->
{% endblock %} 