{% extends 'layoutsinicio/app2.html' %}

{% block content %}

<div class="container mt-5 mb-5">
    <!--alertar-->
    {% if error %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{error}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <!--alertar-->
    {% if mensaje %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{mensaje}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <!--end alertar-->
    <!--end alertar-->
    <div class="row">
       <div class="col-3 d-none d-sm-block"></div>
       <div class="col-12 col-lg-6 ">
         <h1 style="text-align: center;">Validar Asistencia</h1>
         <br>
         <!--formulario-->
         <form action="{% url 'validarasistencia' idsesion=idsesion %}" method="post">
            {% csrf_token %}
         <div class="container shadow-lg border border-dark" style="background-color:white; border-radius: 10px;">
            <br>
         <div class="mb-3 row">
            <label for="email" class="col-sm-3 col-form-label"> Usuario</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" id="email" name="email" value="email@example.com" required>
            </div>
          </div>
          <div class="container">
            <div class="mb-3 row">
            <button class="btn btn-info">Registrar</button>
           </div>
          </div>
          <br>
         </div>
          <!--end formulario -->
          </form>
          <br>
       </div>
       <div class="col-3 d-none d-sm-block"></div>
    </div>
    <br><br>
</div>

{% endblock %} 