{% extends 'layoutsinicio/app2.html' %}

{% block content %}
{% load static %}
<div class="container mt-5 mb-5">
  <!--alertar-->
  {% if error %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{error}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  <!--alertar-->
  {% for msg in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{msg}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}

  {% if mensaje %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{mensaje}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  <!--end alertar-->
  <!--end alertar-->
  <div class="row">
    <div class="col-3 d-none d-sm-block"></div>
    <div class="col-12 col-lg-6 ">
      <h2 class="text-center" style="color: white;">Registrar asistencia</h2>
      <p style="color: white;"><small>Por favor, ingrese su correo electrónico o número de cedula para registrar su asistencia. ¡Gracias!</small></p>
      <br>
      <!--formulario-->
      <div class="container shadow-lg border border-dark" style="background-color:white; border-radius: 10px;">
        <br>
        <form action="{% url 'validarasistencia' idsesion=idsesion %}" method="post">
          {% csrf_token %}
          <div class="mb-3 row">
            <label for="floatingInput" class="col-sm-3 col-form-label" style="text-align: center;"> Usuario</label>
            <div class="col-sm-9">
              <div class="form-floating ">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com/12345678"
                  required name="inputUser">
                <label for="floatingInput">Correo electronico o cedula</label>
              </div>

            </div>
          </div>
          <div class="container">
            <div class="mb-3 row">
                <button class="btn" style="background-color: #3f45a3; color: white;">Registrar asistencia</button>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-12" style="text-align: right;">
            {% if estado %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalnuevousuario">
              Inscribirse
            </button>
            {% endif %}
            <!-- Button trigger modal -->
            <!-- Modal -->
            <div class="modal fade" id="modalnuevousuario" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form action="{% url 'inscribirasistente' idsesion=idsesion %}" method="post">
                    {% csrf_token %}
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Realizar incripción</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <!--Nombre-->
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-person"></i></span>
                        <input type="text" class="form-control" placeholder="Nombre" aria-label="Username"
                          aria-describedby="basic-addon1" id="floatingInput" required name="nombre">
                      </div>

                      <!--Apellido-->
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-person"></i></span>
                        <input type="text" class="form-control" placeholder="Apellido" aria-label="Username"
                          aria-describedby="basic-addon1" id="floatingInput" required name="apellido">
                      </div>

                      <!--Cedula-->
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i
                            class="bi bi-credit-card-2-front"></i></span>
                        <input type="number" class="form-control" placeholder="Cedula" aria-label="Username"
                          aria-describedby="basic-addon1" id="floatingInput" required name="cedula">
                      </div>

                      <!--Telefono-->
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-telephone"></i></span>
                        <input type="number" class="form-control" placeholder="Telefono" aria-label="Username"
                          aria-describedby="basic-addon1" id="floatingInput" name="telefono">
                      </div>

                      <!--Correo-->
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope"></i></span>
                        <input type="email" class="form-control" placeholder="Correo Electronico" aria-label="Username"
                          aria-describedby="basic-addon1" id="floatingInput" required name="correo">
                      </div>

                      <!--cargo-->
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-badge"></i></span>
                        <input type="text" class="form-control"  aria-label="cargoUser" aria-describedby="basic-addon1" id="cargoUser" name="cargoUser" placeholder="Cargo" required>
                      </div>
                    
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
                    <button type="button" class="btn btn-warning btn-sm" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </form>
                </div>
              </div>
            </div>

            <br><br>
          </div>

        </div>
      </div>

      <!--end formulario -->
      
    </div>
  </div>
</div>
  
<!--<script src="{% static 'admin/assets/js/functionuser.js' %}"></script>-->
{% endblock %}