{% extends 'admin/inicio.html' %}

{% block content%}
{% load static%}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Calificar</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/administracion">Inicio</a></li>
          <li class="breadcrumb-item active">Registro</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
       <!--registro de cursos forms-->   
       <div class="col-lg-12">
      
        <div class="card">
          <div class="card-body mt-3">
              <!--alertar-->
              {% if mensaje %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{mensaje}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}
              <!--end alertar-->
            <!-- Horizontal Form -->
            <form action="{% url 'addcalificacion' idsesion=idsesion %}" method="post">
              {% csrf_token %}
              <div class="form-control">
                <h5 class="text-center"><b>Calificar al formador</b></h5>
                <p><small>En el siguiente apartado se evaluarán las habilidades del formador.
                  <ul>
                    <li><span style="color: rgb(240, 198, 12);">★</span> Muy bajo </li>
                    <li><span style="color: rgb(240, 198, 12);">★★</span> Regular </li> 
                    <li><span style="color: rgb(240, 198, 12);">★★★</span> Bueno</li>
                    <li><span style="color: rgb(240, 198, 12);">★★★★</span> Muy bueno</li>
                     <li><span style="color: rgb(240, 198, 12);">★★★★★</span> Sobre saliente</li>
                  </ul>
                </small></p>
                <hr>
                <div class="row">
                   <div class="col-sm-6" style="text-align: justify;">
                      <b>1. Claridad en la explicación:&nbsp;</b>¿Qué tan claro y comprensible fue el formador al explicar los conceptos durante la sesión de formación?
                   </div>
                   <div class="col-sm-6 text-center">
                    <div class="clasificacion">
                      <input class="inputradio" id="radio1" type="radio" name="claridad" value="5">
                      <label class="labelradio" for="radio1"><h4>★</h4></label>
                      <input class="inputradio" id="radio2" type="radio" name="claridad" value="4">
                      <label class="labelradio" for="radio2"><h4>★</h4></label>
                      <input class="inputradio" id="radio3" type="radio" name="claridad" value="3">
                      <label class="labelradio" for="radio3"><h4>★</h4></label>
                      <input class="inputradio" id="radio4" type="radio" name="claridad" value="2">
                      <label class="labelradio" for="radio4"><h4>★</h4></label>
                      <input class="inputradio" id="radio5" type="radio" name="claridad" value="1">
                      <label class="labelradio" for="radio5"><h4>★</h4></label>
                  </div>
                   </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-6" style="text-align: justify;">
                     <b>2. Capacidad para fomentar la participación:&nbsp;</b>¿Cómo valoraría la habilidad del formador para involucrar a los participantes y fomentar su participación durante la sesión?
                  </div>
                  <div class="col-sm-6 text-center text-center">
                    <div class="clasificacion">
                      <input class="inputradio" id="radio6" type="radio" name="capacidad" value="5">
                      <label class="labelradio" for="radio6"><h4>★</h4></label>
                      <input class="inputradio" id="radio7" type="radio" name="capacidad" value="4">
                      <label class="labelradio" for="radio7"><h4>★</h4></label>
                      <input class="inputradio" id="radio8" type="radio" name="capacidad" value="3">
                      <label class="labelradio" for="radio8"><h4>★</h4></label>
                      <input class="inputradio" id="radio9" type="radio" name="capacidad" value="2">
                      <label class="labelradio" for="radio9"><h4>★</h4></label>
                      <input class="inputradio" id="radio10" type="radio" name="capacidad" value="1">
                      <label class="labelradio" for="radio10"><h4>★</h4></label>
                  </div>
                  
                  </div>
               </div>
               <hr>
               <div class="row">
                <div class="col-sm-6" style="text-align: justify;">
                   <b>3. Dominio del contenido:&nbsp;</b>¿En qué medida demostró el formador un dominio sólido del tema impartido durante la sesión de formación?
                </div>
                <div class="col-sm-6 text-center">
                  <div class="clasificacion">
                    <input class="inputradio" id="radio11" type="radio" name="dominio" value="5">
                    <label class="labelradio" for="radio11"><h4>★</h4></label>
                    <input class="inputradio" id="radio12" type="radio" name="dominio" value="4">
                    <label class="labelradio" for="radio12"><h4>★</h4></label>
                    <input class="inputradio" id="radio13" type="radio" name="dominio" value="3">
                    <label class="labelradio" for="radio13"><h4>★</h4></label>
                    <input class="inputradio" id="radio14" type="radio" name="dominio" value="2">
                    <label class="labelradio" for="radio14"><h4>★</h4></label>
                    <input class="inputradio" id="radio15" type="radio" name="dominio" value="1">
                    <label class="labelradio" for="radio15"><h4>★</h4></label>
                </div>
                </div>
             </div>
             <hr>
             <div class="row">
                <div class="col-sm-6" style="text-align: justify;">
                  <b>4. Aspectos a rescatar:&nbsp;</b>¿Cuáles fueron los aspectos más destacados del formador? ¿Cuáles podrían ser aspectos a fortalecer?
                </div>
                <div class="col-sm-6">
                  <textarea class="form-control" type="text" name="aspectos" rows="3" required></textarea>
                </div>
            </div>
             <!--=================-->
              </div>
              <!--calificar curso-->
              <div class="form-control mt-2">
                <h5 class="text-center"><b>Calificar sesión del curso:</b></h5>
                <p><small>En el siguiente apartado se evaluará la sesión del curso.</small></p>
                <hr>
                <div class="row">
                   <div class="col-sm-6" style="text-align: justify;">
                      <b>1. Relevancia del contenido:&nbsp;</b>¿cómo calificarías la relevancia del contenido del curso para tus necesidades o expectativas?
                   </div>
                   <div class="col-sm-6 text-center">
                    <div class="clasificacion">
                      <input class="inputradio" id="radio16" type="radio" name="relevancia" value="5">
                      <label class="labelradio" for="radio16"><h4>★</h4></label>
                      <input class="inputradio" id="radio17" type="radio" name="relevancia" value="4">
                      <label class="labelradio" for="radio17"><h4>★</h4></label>
                      <input class="inputradio" id="radio18" type="radio" name="relevancia" value="3">
                      <label class="labelradio" for="radio18"><h4>★</h4></label>
                      <input class="inputradio" id="radio19" type="radio" name="relevancia" value="2">
                      <label class="labelradio" for="radio19"><h4>★</h4></label>
                      <input class="inputradio" id="radio20" type="radio" name="relevancia" value="1">
                      <label class="labelradio" for="radio20"><h4>★</h4></label>
                  </div>
                   </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-6" style="text-align: justify;">
                     <b>2. Claridad de la presentación:&nbsp;</b>¿Qué tan claro y comprensible fue el material presentado durante el curso?
                  </div>
                  <div class="col-sm-6 text-center">
                    <div class="clasificacion">
                      <input class="inputradio" id="radio21" type="radio" name="claridadpres" value="5">
                      <label class="labelradio" for="radio21"><h4>★</h4></label>
                      <input class="inputradio" id="radio22" type="radio" name="claridadpres" value="4">
                      <label class="labelradio" for="radio22"><h4>★</h4></label>
                      <input class="inputradio" id="radio23" type="radio" name="claridadpres" value="3">
                      <label class="labelradio" for="radio23"><h4>★</h4></label>
                      <input class="inputradio" id="radio24" type="radio" name="claridadpres" value="2">
                      <label class="labelradio" for="radio24"><h4>★</h4></label>
                      <input class="inputradio" id="radio25" type="radio" name="claridadpres" value="1">
                      <label class="labelradio" for="radio25"><h4>★</h4></label>
                  </div>
                  </div>
               </div>
               <hr>
               <div class="row">
                <div class="col-sm-6" style="text-align: justify;">
                   <b>3. Aplicabilidad de los conceptos:&nbsp;</b>¿En qué medida sientes que los conceptos y habilidades aprendidos en el curso son aplicables a situaciones reales o a tu trabajo?
                </div>
                <div class="col-sm-6 text-center">
                  <div class="clasificacion text-center">
                    <input class="inputradio" id="radio26" type="radio" name="aplicabilidad" value="5">
                    <label class="labelradio" for="radio26"><h4>★</h4></label>
                    <input class="inputradio" id="radio27" type="radio" name="aplicabilidad" value="4">
                    <label class="labelradio" for="radio27"><h4>★</h4></label>
                    <input class="inputradio" id="radio28" type="radio" name="aplicabilidad" value="3">
                    <label class="labelradio" for="radio28"><h4>★</h4></label>
                    <input class="inputradio" id="radio29" type="radio" name="aplicabilidad" value="2">
                    <label class="labelradio" for="radio29"><h4>★</h4></label>
                    <input class="inputradio" id="radio30" type="radio" name="aplicabilidad" value="1">
                    <label class="labelradio" for="radio30"><h4>★</h4></label>
                </div>
                </div>
             </div>
             <hr>
             <div class="row">
                <div class="col-sm-6" style="text-align: justify;">
                  <b>4. Fortalezas del curso:&nbsp;</b>¿Cuáles crees que fueron las principales fortalezas de este curso? Por favor, proporciona detalles específicos sobre aspectos que encontraste especialmente útiles o efectivos.
                </div>
                <div class="col-sm-6">
                  <textarea class="form-control" type="text" name="fortalezasesion" rows="3" required></textarea>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-6" style="text-align: justify;">
                  <b>5. Áreas de mejora sugeridas:&nbsp;</b>¿Hay áreas específicas en las que crees que este curso podría mejorar? Por favor, comparte cualquier sugerencia o recomendación que tengas para futuras iteraciones del curso.
                </div>
                <div class="col-sm-6">
                  <textarea class="form-control" type="text" name="mejorasesion" rows="3" required></textarea>
                </div>
            </div>
             <!--=================-->
              </div>
              <!---=================================================-->
              <div class="text-end mt-3">
                <button type="submit" class="btn btn-outline-primary"> <i class="bi bi-floppy2-fill"></i> | Enviar </button>
                <a class="btn btn-outline-warning" href="/usuarios/curso/listar/" role="button" style="color: black;">Cancelar</a>
              </div>
            </form>
           
          </div>
        </div>

      </div>
       
      </div>
    </section>
  </main> 
  <!-- Aqui se encuentran las instrucciones para formularios -->
  <!--<script type="text/javascript" src="{% static 'admin/assets/js/empresa.js' %}"></script>
  <script src="{% static 'admin/assets/js/script.js' %} "></script>-->
{% endblock content%}
{% block js %}
<!--<script src="{% static 'admin/assets/js/calificacionusuario.js' %} "></script>-->
{% endblock js %}
