{% extends 'admin/inicio.html' %}
{% block content %}

<main id="main" class="main">
  {% load static %}
  
    <div class="pagetitle">
      <h1>Compromisos</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Inicio</a></li>
          <li class="breadcrumb-item active">Listado</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    {% if mensaje %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{mensaje}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
    <section class="section dashboard">
      <div class="row">
       <!--registro de cursos forms-->   
       <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
              <div class="mt-3">
                <!--Modal agregar compromiso-->
                <!-- Button trigger modal -->
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvascompromiso" aria-controls="offcanvasExample">
                  Agregar Compromiso
                </button>
                
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvascompromiso" aria-labelledby="offcanvasExampleLabel">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Agregar Compromiso</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body">
                    <!--Cuerpo del offcanvas-->
                    <form action="{% url 'compromisos' %}" method="POST">
                      {% csrf_token %}
                      <div class="mb-3">
                        <label for="exampleDataList" class="form-label">Seleccione un curso</label>
                        <input class="form-control" list="datalistcursos" id="exampleDataList" name="cursos">
                        <datalist id="datalistcursos">
                          {% for curso in cursos %}
                            <option value="{{curso.idcurso.nombre}}"></option>
                          {% endfor %}
                        </datalist>
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Compromiso</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="textCompromiso"></textarea>
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlselect" class="form-label">Prioridad</label>
                        <select class="form-select" aria-label="Default select example" name="prioridad">
                          <option selected>Open this select menu</option>
                          <option value="Muy urgente">Muy Urgente</option>
                          <option value="Medianamente urgente">Medianamente Urgente</option>
                          <option value="Nada urgente">Nada Urgente</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControldate" class="form-label">Fecha Final</label>
                        <div class="input-group date fj-date" data-provide="datepicker">
                          <input type="text" class="form-control" name="fechafinal">
                          <div class="input-group-addon">
                              <span class="glyphicon glyphicon-th"></span>
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="exampleDataList" class="form-label">Con Quien?</label>
                        <input class="form-control" list="datalistOptions" id="exampleDataList" name="conquien">
                        <datalist id="datalistOptions">
                          {% for user in user_all %}
                            <option value="{{user.nombre}}"></option>
                          {% endfor %}
                        </datalist>
                      </div>
                      <br>
                      <div class="mb-3">
                        <input class="btn btn-primary" type="submit" value="Agregar" onclick="refrescar()">
                      </div>
                    </form>
                    <!--Fin del cuerpo del offcanvas-->
                  </div>
                </div>
                <!-- Fin del modal agragar compromiso-->
                <br>
              </div>
              <br>
               <!--alertar-->
               <!--end alertar-->
               <!-- Table with stripped rows -->
               <br>
               
               <div class="table-responsive">
               <table class="table" id="tablareactiva">
                <thead>
                  <tr>
                    <th>Curso</th>
                    <th>Descripción</th>
                    <th>Fecha inicial</th>
                    <th>Fecha final</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% if compromisos %}
                      {% for comp in compromisos %}
                        <tr>
                          <td>{{comp.id_curso.nombre}}</td>
                          <td>{{comp.compromiso}}</td>
                          <td>{{comp.fecha_compromiso}}</td>
                          <td>{{comp.fecha_final}}</td>
                          <td>{{comp.id_estado.descripcion}}</td>
                          <td>
                            <!-- Button trigger modal -->
                            <a type="button" class="btn btn-info  mr-2" style="display: inline-block;" data-bs-target="#modaleditarcompromiso{{comp.id}}" data-bs-toggle="modal"><i class="bi bi-pencil-square"></i></a>

                            <!-- Modal -->
                            <div class="modal fade" id="modaleditarcompromiso{{comp.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Comprommiso</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <form action="{% url 'editarcompromiso' idcomp=comp.id %}" method="post">
                                      {% csrf_token %}
                                      <div class="form-control">
                                        <div class="row mb-3">
                                            <label for="nombre" class="col-sm-2 col-form-label">Compromiso</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="textCompromiso">{{comp.compromiso}}</textarea>
                                            </div>
                                        </div>
                        
                                        <div class="row mb-3">
                                            <label for="nombre" class="col-sm-2 col-form-label">Fecha Final</label>
                                            <div class="col-sm-10">
                                                <div class="input-group date fj-date" data-provide="datepicker">
                                                    <input type="text" class="form-control" name="fechafinal" value="{{comp.fecha_final}}">
                                                    <div class="input-group-addon">
                                                        <span class="glyphicon glyphicon-th"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row mb-3">
                                            <label for="nombre" class="col-sm-2 col-form-label">Con quien?</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" list="datalistOptions" id="exampleDataList" name="conquien" value="{{comp.con_quien.nombre}}">
                                                <datalist id="datalistOptions">
                                                  {% for user in user_all %}
                                                    <option value="{{user.nombre}}"></option>
                                                  {% endfor %}
                                                </datalist>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                          <input class="btn btn-primary" type="submit" value="Actualizar" >
      
                                        </div>
                                    </form>
                                  </div>
                                  
                                </div>
                              </div>
                            </div>
                            
                          </td>
                        </tr>
                      {% endfor %}
                  {% endif %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
               </div>
            </div>
          </div>
       </div>
      </div>
    </section>
</main><!-- End #main -->
  <!-- Aqui se encuentran las instrucciones para formularios -->
  <script type="text/javascript" src="{% static 'admin/assets/js/bootstrap-datepicker.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/assets/js/functionUser.js' %}"></script>
  {% endblock %} 