{% extends 'admin/inicio.html' %}
{% block content %}

<main id="main" class="main">
  {% load static %}
  
    <div class="pagetitle">
      <h1>Mis Compromisos</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/administracion/">Inicio</a></li>
          <li class="breadcrumb-item active">Listado</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->  
    <section class="section dashboard">
      <div class="row">
       <!--registro de cursos forms-->   
       <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
              <div class="alert alert-primary mt-2" role="alert">
                Lista de compromisos
              </div>
              <p><small>Nota:</small>En esta sección, puedes editar un compromiso y revisar la retroalimentación recibida. </p>
              {% if mensaje %}
              <div class="alert alert-warning alert-dismissible fade show mt-2 mb-1" role="alert">
                <strong>{{mensaje}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endif %}
               <div class="table-responsive">
               <table class="table" id="tablareactiva">
                <thead>
                  <tr>
                    <th>Curso</th>
                    <th>Descripción</th>
                    <th>Fecha inicial</th>
                    <th>Fecha final</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% if compromisos %}
                      {% for comp in compromisos %}
                        <tr>
                          <td>{{comp.id_sesion.idcurso.nombre}}</td>
                          <td>{{comp.compromiso}}</td>
                          <td>{{comp.fecha_compromiso|date:'Y-m-d'}}</td>
                          <td>{{comp.fecha_final|date:'Y-m-d' }}</td>
                          <td>{{comp.id_estado.descripcion}}</td>
                          <td>
                            <!--respuesta y puntaje-->
                             <!-- Button trigger modal -->
                             {% if comp.id_estado.id == 2 %}
                             <button type="button" class="btn btn-outline-secondary  btn-sm" disabled data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Este compromiso se encuentra en estado pendiente"> <i class="bi bi-eye-slash-fill" ></i></button>
                                {% else %}
                                <a type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#modalMasinfo{{comp.id}}" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="El compromiso ya ha sido revisado. Puede visualizar la retroalimentación">
                                  <i class="bi bi-eye-fill" ></i></a> 
                              {% endif %}
                                <!-- Button trigger modal -->
                                <span data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Editar el compromiso">
                                  <button type="button" class="btn btn-outline-success btn-sm" data-bs-target="#modaleditarcompromiso{{comp.id}}" data-bs-toggle="modal"><i class="bi bi-pencil-square"></i></button>
                                </span>
                            
                              <!-- Modal -->
                              <div class="modal fade" id="modalMasinfo{{comp.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      <!--====================================-->
                                      <div class="row">
                                        <div class="col-4">Comentario:</div>
                                        <div class="col-8">
                                         <div class="form-control"> {{ comp.respuesta }}</div>
                                        </div>
                                      </div>
                                      <div class="row mt-2">
                                        <div class="col-4">Puntos:</div>
                                        <div class="col-8">
                                          <div class="form-control">
                                            {{ comp.puntaje }}
                                          </div>
                                        </div>
                                      </div>
                                      <!--=======================================-->
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Salir</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          
                            <!-- Modal -->
                            <div class="modal fade" id="modaleditarcompromiso{{comp.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg modal-dialog-scrollable">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Compromiso</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <form action="{% url 'editarcompromiso' idcomp=comp.id %}" method="post">
                                      {% csrf_token %}
                                      <div class="form-control">
                                        <div class="row mb-3">
                                            <label for="nombre" class="col-lg-3 col-md-12 col-form-label"><b>Compromiso</b></label>
                                            <div class="col-lg-9 col-md-12">
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="textCompromiso" required>{{comp.compromiso}}</textarea>
                                            </div>
                                        </div>
                        
                                        <div class="row mb-3">
                                            <label for="nombre" class="col-lg-3 col-md-12 col-form-label"><b>Fecha Final</b></label>
                                            <div class="col-lg-9 col-md-12">
                                                <input type="date" class="form-control" min="{{ fechamin|date:'Y-m-d' }}" name="fechafinal" value="{{comp.fecha_final|date:'Y-m-d'}}" required>
                                            </div>
                                        </div>
                                        
                                        <div class="row mb-3">
                                            <label for="nombre" class="col-lg-3  col-md-12 col-form-label"><b>Personas elegidas</b></label>
                                            <div class="col-lg-9 col-md-12">
                                             <!--tabla usuarios-->
                                             <div class="table-responsive mt-2">
                                              <table class="table" id="tablareactiva_02">
                                                <thead>
                                                  <tr>
                                                    <th>Nombres</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  {% for persona in user_all %}
                                                        <tr>
                                                            <td>
                                                              <input class="form-check-input" type="checkbox" id="idpersona" name="idpersona" value="{{ persona.id }}" {% for respuesta in comp.personascompromisos_set.all %} {% if persona.id == respuesta.id_usuario.id %} checked {% endif %} {% endfor %}>&nbsp;&nbsp;{{ persona.nombre }} {{ persona.apellido }}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                              </table>
                                            </div>
                                             <!--end tabla usuarios-->
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                          <input class="btn btn-primary" type="submit" value="Actualizar" >
                                          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Salir</button>
                                        </div>
                                    </form>
                                  </div>
                                  
                                </div>
                              </div>
                            </div>
                            
                          </td>
                        </tr>
                      {% endfor %}
                  {% endif %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
               </div>
            </div>
          </div>
       </div>
      </div>
    </section>
</main><!-- End #main -->
  {% endblock %} 