{% extends 'admin/inicio.html' %}
{% block content %}


<main id="main" class="main">

    <div class="pagetitle">
      <h1>Listado de cursos</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Inicio</a></li>
          <li class="breadcrumb-item active">Listado</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
       <!--registro de cursos forms-->   
       <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
              <br>
               <!--alertar-->
               {% if messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  {% for message in messages %}
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  {% endfor %}
                </div>
               {% endif %}
               <!--end alertar-->
               <!-- Table with stripped rows -->
               <div class="table-responsive">
               <table class="table" id="tablareactiva">
                <thead>
                  <tr>
                    <th>Curso</th>
                    <th>Grupos</th>
                    <th>Sesiones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for curso in cursos %}
                  <tr>
                    <td>{{ curso.idcurso.nombre }}</td>
                    <td>{{curso.idgrupo.nombre}}</td>
                    <td>
                      <!--aqui modal-->
                         <!-- Modal Dialog Scrollable -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modallistarsesiones{{curso.id}}">
                          Ver
                        </button>
                        <div class="modal fade" id="modallistarsesiones{{curso.id}}" tabindex="-1">
                          <div class="modal-dialog modal-dialog-scrollable modal-xl ">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Listado de sesiones</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body table-responsive">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th>Id sesion</th>
                                        <th>Fecha inicio</th>
                                        <th>Fecha final</th>
                                        <th>Lugar</th>
                                        <th>Asistencia</th>
                                        <th>Calificar</th>
                                        <th>Evaluar</th>
                                      </tr>
                                    </thead>
                                  <tbody>
                                  {% for sesion in sesiones %}
                                  {% if sesion.idcurso == curso.idcurso %}
                                  <tr>
                                    <td>{{sesion.id}}</td>
                                    <td>{{ sesion.fechainicio }}</td>
                                    <td>{{ sesion.fechafin }}</td>
                                    <td>{{ sesion.lugar }}</td>
                                    <td>
                                    {% for asistencia in asistencias %}
                                      {% if asistencia.idsesioncurso != sesion %}
                                        No asistió
                                      {% else %}
                                        Asistió
                                      {% endif %}
                                    {% endfor %}
                                    </td>
                                    <td>
                                    {% if calificacion %}
                                      {% for cali in calificacion %}
                                        {% if cali.estado is False %}
                                          <a class="btn btn-success disabled" href="{% url 'addcalificacion' idsesion=sesion.id %}" role="button" aria-disabled="true">calificar</a></td>
                                        {% endif %}
                                      {% endfor %}
                                    {% else %}
                                    <a class="btn btn-primary" href="{% url 'addcalificacion' idsesion=sesion.id %}" role="button">calificar</a>
                                    {% endif %}
                                    </td>
                                    <!--aqui boton de evaluar formulario-->
                                     <td>
                                      <a href="{% url 'verformusesion' idsesion=sesion.id %}" class="btn btn-success">Evaluar</a>
                                     </td>
                                    <!--end evaluar-->
                                  </tr>
                                  {% endif %}
                                  
                                  {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Salir</button>
                              </div>
                            </div>
                          </div>
                        </div><!-- End Modal Dialog Scrollable-->
                      <!--end modal-->
                    </td>
                    <!--botones de acciones-->
                                    
                  </tr>
                  {% endfor %} 
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
               </div>
            </div>
          </div>
       </div>
      </div>
    </section>
</main><!-- End #main -->
  <!-- Aqui se encuentran las instrucciones para formularios -->
  {% endblock %} 