{% extends 'admin/inicio.html' %}
{% block content %}


<main id="main" class="main">

    <div class="pagetitle">
      <h1>Cursos</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/administracion/">Inicio</a></li>
          <li class="breadcrumb-item active">Listado</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
       <!--registro de cursos forms-->   
       <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
              <br>
               <!--alertar-->
               {% if messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  {% for message in messages %}
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  {% endfor %}
                </div>
               {% endif %}
               <!--end alertar-->
               <!-- Table with stripped rows -->
               <div class="alert alert-primary" role="alert">
                 Lista de cursos de formación.
               </div>
               <p><small><b>Nota:</b> En esta sección, tienes la oportunidad de evaluar tanto el curso como al formador.</small></p>
               <div class="table-responsive">
               <table class="table" id="tablareactiva">
                <thead>
                  <tr>
                    <th>Curso</th>
                    <th>Grupo</th>
                    <th class="text-center">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for curso in cursos %}
                  <tr>
                    <td>{{ curso.idcurso.nombre }}</td>
                    <td>{{ curso.idgrupo.nombre}}</td>
                    <td class="text-center">
                      <!--aqui modal-->
                      <!-- Modal Dialog Scrollable -->
                      <div class="btn-group" role="group" aria-label="Basic example">
                      <span data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Listar las sesiones del curso {{curso.idcurso.nombre}}">
                        <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modallistarsesiones{{curso.id}}">
                          Sesiones
                        </button>
                      </span>
                        <!---======= calificacion para el curso de manera parcial ===========-->
                        <form id="calificarForm" action="{% url 'addcalificacion' %}" method="post">
                          {% csrf_token %}
                          <input type="hidden" name="idcurso" value="{{ curso.idcurso.id }}">
                          <button type="submit" class="btn btn-outline-success btn-sm" role="button" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="La calificacion deL curso: {{curso.idcurso.nombre}} esta habilitada">Calificar</button>
                        </form>
                      </div>
                        <!---============end calificacciones=====================-->
                       {% for cal in vercalif %}
                          {% if cal.id_sesiones_curso.idcurso.id == curso.idcurso.id %}
                          <a type="button" class="btn btn-outline-success" href="{% url 'calificacionCurso' idcurso=curso.idcurso.id %}" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Ver calificaciones de formador y curso"><i class="bi bi-list-columns-reverse"></i></a>
                          {% endif %}
                        {% endfor %}
                        
                        <div class="modal fade" id="modallistarsesiones{{curso.id}}" tabindex="-1">
                          <div class="modal-dialog modal-dialog-scrollable modal-xl ">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Listado de sesiones</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body table-responsive">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <td></td>
                                        <th>Fecha</th>
                                        <th>Lugar</th>
                                        <th>Asistencia</th>
                                        <th>Evaluar</th>
                                      </tr>
                                    </thead>
                                  <tbody>
                                  {% for sesion in sesiones %}
                                  {% if sesion.idcurso.id == curso.idcurso.id %}
                                  <tr>
                                    <td>
                                      <a class="btn btn-outline-primary btn-sm" data-bs-toggle="collapse" href="#verDetalles{{sesion.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <i class="bi bi-plus-circle-fill" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Ver mas ..."></i>
                                      </a>
                                    </td>
                                    <td>{{ sesion.fechainicio}} </td>
                                    <td>{{ sesion.lugar }}</td>
                                    <td class="text-center">
                                    <!---=================-->
                                    {% if usu.sesionasistencia_set.all %}
                                    {% for asis in usu.sesionasistencia_set.all %}
                                       {% if asis.idsesioncurso.id == sesion.id and asis.asistencia_pendiente == False %}
                                       <p style="background-color: rgb(157, 157, 238); border-radius: 10px; padding: 3px 3px 3px 3px;"><small>Asistió</small></p>
                                       {% elif asis.idsesioncurso.id == sesion.id and asis.asistencia_pendiente == True %}
                                          <p style="background-color: rgb(157, 157, 238); border-radius: 10px; padding: 3px 3px 3px 3px;"><small>No asistió</small></p>
                                       {% endif %}
                                    {% endfor %}
                                    {% else %}
                                        <p style="background-color: rgb(157, 157, 238); border-radius: 10px; padding: 3px 3px 3px 3px;"><small>No asistió</small></p>
                                    {% endif %}
                                    </td>
                                    <!--aqui boton de evaluar formulario-->
                                     <td>
                                      {% if usu.sesionasistencia_set.all and sesion.sesionasistencia_set.all %}
                                      <a href="{% url 'verformusesion' idsesion=sesion.id %}" class="btn btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Ingrese al formulario de evaluacion de la sesión {{sesion.id}}">Evaluar</a>
                                      {% endif %}
                                    </td>
                                    <!--end evaluar-->
                                  </tr>
                                  <!--====================================-->
                                  <tr>
                                    <td colspan="6" class="text-start"> 
                                      <div class="collapse" id="verDetalles{{sesion.id}}">
                                       <div class="card card-body">
                                         <!--===============================-->
                                         {% for tematica in tematicas %}
                                         {% if tematica.idsesion.id == sesion.id %}
                                          <label class="col-form-label"><small>Temáticas:</small></label>
                                          <p class="form-control"><small>{{ tematica.descrip }}</small></p>
                                          <label class="col-form-label"><small>Descripción: </small></label>
                                          <p class="form-control"><small>{{ tematica.competencias }}</small></p>
                                          <label class="col-form-label"><small>Recursos: </small></label>
                                          <p class="form-control"><small> {{ tematica.recursos }}</small></p>
                                         <div class="mb-1">
                                          <label class="col-form-label"><small>Archivo: </small></label>
                                           <a class="btn btn-outline-primary btn-sm" href="{{tematica.ruta}}" download data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Descarga los archivos que corresponden a la tematica {{tematica.descrip}}">
                                            <i class="bi bi-cloud-arrow-down-fill"></i>
                                           </a>
                                          </div>
                                         {% endif %}
                                         {% endfor %}
                                         <!--================================-->
                                       </div>
                                      </div>
                                    </td>
                                  </tr>
                                  <!--========================================-->
                                  {% endif %}
                                  
                                  {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Salir</button>
                              </div>
                            </div>
                          </div>
                        </div><!-- End Modal Dialog Scrollable-->
                      <!--end modal-->
                    </td>
                    <!--botones de acciones-->
                                    
                  </tr>
                  {% endfor %} 
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
               </div>
            </div>
          </div>
       </div>
      </div>
    </section>
</main><!-- End #main -->
  <!-- Aqui se encuentran las instrucciones para formularios -->
  {% endblock %} 