{% extends 'layoutsinicio/app2.html' %}

{% block content %}
{% load static %}
<!---Estilos de boton-->
<style>
  .button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .tooltip1 {
    border-bottom: 1px dotted #000;
    cursor: help;
  }
  </style>
  <link href="{% static 'admin/assets/css/calificacionusuario.css' %}" rel="stylesheet">
<!--end boton -->
<main id="main" class="main">
    <section class="section dashboard">
      <div class="row" style="--bs-gutter-x: 0 rem;">
       <!--registro de cursos forms-->   
       <div class="col-lg-8 col-md-12 mx-auto mt-4 mb-5">
        <div class="card">
            <div class="card-body" style="border: 2px solid">
              <br>
              <!-- formulario info-->
              <div class="form-control">
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <h6>Curso: {{datoscurso.idcurso.nombre}} </h6>
                   </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-12">
                   <h6>Usuario: {{usu.nombre}} {{usu.apellido}} </h6> 
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <h6>Correo: {{usu.user.username}} </h6> 
                   </div>
                </div>
              </div>
              <br>
              {% if mensajeInfo %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
               <p>{{mensajeInfo}}</p>
                 {% if puntaje %}
                <strong>Puntaje</strong> {{puntaje}}
                {% endif %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}
              <div class="accordion accordion-flush" id="accordionFlushExample">
              <!-- Mostrar información del formulario -->
              {% for formu in formularios %}
                <form action="{% url 'saveRespuestasFormu' %}" method="post">
                  {% csrf_token %}
                <input type="hidden" name="idsesion" value="{{datoscurso.id}}">
                <input type="hidden" name="idformu" value="{{formu.idform.id}}">
                <input type="hidden" name="idusu" value="{{usu.id}}">
                <input type="hidden" name="valorformu" value="1">
                <div class="accordion-item mt-2">
                  <h2 class="accordion-header" id="flush-headingOne" >
                    <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acordionFormulario{{formu.id}}" aria-expanded="false" aria-controls="acordionFormulario{{ forloop.counter }}" style="background-color: rgb(200, 213, 248); border-radius: 10px;">
                      <span style="color: rgb(15, 14, 14);"> <b><i class="bi bi-hand-index-thumb"></i> Formulario No: {{ forloop.counter }} </b></span> 
                    </a>
                  </h2>
                  <div id="acordionFormulario{{formu.id}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                       <!--desde aqui formulario-->
                       <br>
                       <h5 class="text-center"><b>Información del Formulario</b></h5>
                       <div class="container form-control">
                        <div class="row">
                          <div class="col-lg-12 col-md-12">
                            <b>Nombre:</b> {{ formu.idform.nombre }}
                          </div>  
                      </div>
                      <hr>
                      <div class="row mt-2">
                        <div class="col-lg-12 col-md-12">
                            <b>Descripción:</b> {{ formu.idform.descrip }}
                        </div>  
                      </div>
                    </div>
                      <!-- Mostrar preguntas asociadas al formulario -->
                  <h5 class="text-center"><b>Preguntas</b></h5>
                  <div class="container form-control mt-2">
                  {% for pregunta in preguntas %}
                          {% if pregunta.idform.id == formu.idform.id %}
                          <div class="row">
                              <div class="col-lg-6 col-md-12">
                                <p><b>Pregunta: </b> {{ pregunta.descrip }}</p>
                                <input type="text" id="pregunta{{pregunta.id}}" name="pregunta{{pregunta.id}}" aria-label="Sizing example input" value="{{ pregunta.id }}" required hidden><!--no borrar este contrala todas las llegadas-->
                                {% if pregunta.tipo != '6' %}
                                <p><b>Puntos: {{pregunta.valor}}</b></p>
                                {% endif %}
                              </div>
                            <div class="col-lg-6 col-md-12">
                          <!-- Aquí puedes agregar más detalles según el tipo de pregunta -->
                          {% if pregunta.tipo == '1' %}  {# Pregunta de respuesta corta #}
                              <p><b>Respuesta Corta:</b></p>
                                <input class="form-control" type="text" placeholder="Ingresar respuesta" name="respuesta{{pregunta.id}}" required>
                            {% elif pregunta.tipo == '2' %}
                              <p><b>Respuesta Larga:</b></p>
                              <textarea class="form-control" type="text" name="respuesta{{pregunta.id}}" required></textarea>
                            {% elif pregunta.tipo == '3' %} {# Pregunta de opciones múltiples #}
                            <p><b>Opciones: Selección múltiple</b></p> 
                                {% for opcion in pregunta.opciones_set.all %}
                                    <div class="form-control">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="opcionesmul" name="opcionesmul{{pregunta.id}}" value="{{opcion.id}}">
                                        <label class="form-check-label" for="opcionesmul">
                                            {{ opcion.descrip }} 
                                        </label>
                                      </div>    
                                    </div>                              
                                {% endfor %}
                          {% elif pregunta.tipo == '4' %} {# Pregunta de opciones múltiples con una verdadera #}
                              <p><b>Opciones: Opciones múltiples con una verdadera</b></p> 
                              {% for opcion in pregunta.opciones_set.all %}
                              <div class="form-control">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="opcionradio{{pregunta.id}}" id="opcionradio" value="{{opcion.id}}">
                                    <label class="form-check-label" for="opcionradio">
                                        {{ opcion.descrip }}
                                    </label>
                                </div>
                              </div>
                              {% endfor %}
                          {% elif pregunta.tipo == '5' %} {# Pregunta de opciones múltiples con varias verdaderas (Checkbox) #}
                              <p><b>Opciones de selección</b></p>
                              {% for opcion in pregunta.opciones_set.all %}
                              <div class="form-control">
                              <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ opcion.id }} " id="opcionesUnico{{pregunta.id}}" name="opcionesUnico{{pregunta.id}}">
                                    <label class="form-check-label" for="opcionesUnico{{opcion.id}}">
                                        {{ opcion.descrip }} 
                                    </label>
                                </div>
                              </div>
                              {% endfor %}
                            <!--======================= validar los comentarios============-->
                            {% elif pregunta.tipo == '6' %} 
                              <p><b>Plan de acción personal</b></p>
                              <div class="form-control">
                                <div class="row mt-2">
                                  <div class="col-lg-4 col-md-12">
                                    ¿Qué vas a hacer? 
                                    <span class="tooltip1" title="Documente hasta tres objetivos que usted empezará a trabajar gracias a lo aprendido.">(*)</span>
                                  </div>
                                  <div class="col-lg-8 col-md-12"><textarea type="text" class="form-control" id="compromiso{{pregunta.id}}" name="compromiso{{pregunta.id}}" rows="5" required></textarea></div>
                                </div>
                                <div class="row mt-2">
                                <div class="col-lg-4 col-md-12">Prioridad</div>
                                <div class="col-lg-8 col-md-12">
                                  <!--seleccionar prioridad-->
                                  <select  class="form-select" id="prioridad{{pregunta.id}}" name="prioridad{{pregunta.id}}" aria-label="Default select example">
                                    <option value="Importante y Urgente">Importante y Urgente</option>
                                    <option value="Importante y NO urgente">Importante y NO urgente</option>
                                  </select>
                                  <!--end seleccion prioridad-->
                              </div>
                              </div>
                              <div class="row mt-2">
                                <div class="col-lg-4 col-md-12">Fecha final de compromiso</div>
                                <div class="col-lg-8 col-md-12"><input type="date" class="form-control" id="fecha{{pregunta.id}}" name="fecha{{pregunta.id}}" min="{{ fecha_actual|date:'Y-m-d' }}" required></div>
                              </div>
                              <div class="row mt-2">
                                <!--acordion para elegir con quien hace el compromiso-->
                                <div class="accordion accordion-flush" id="accordionPersonas">
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingPersona">
                                      <a style="color: black;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ElegirPersonas{{pregunta.id}}" aria-expanded="false" aria-controls="ElegirPersonas{{pregunta.id}}">
                                       <b>¿Con quién?
                                        <span class="tooltip1" title="Seleccione las personas de este curso que usted considera deban estar involucradas en el logro de los objetivos propuestos.">(*)</span>
                                       </b>
                                      </a>
                                    </h2>
                                    <div id="ElegirPersonas{{pregunta.id}}" class="accordion-collapse collapse" aria-labelledby="flush-headingPersona" data-bs-parent="#accordionPersonas">
                                      <div class="">
                                       <!--tabla de usuarios-->
                                       <div class="table-responsive mt-2">
                                        <div class="row">
                                          <div class="col-12 text-end">
                                            <input type="text" class="form-control" id="searchInput" placeholder="Buscar colaborador..." name="table" style="border-color: #04AA6D;">
                                          </div>
                                        </div>
                                       <table class="table" id="tablaDatos">
                                          <thead>
                                            <tr>
                                              <th scope="col">Nombres</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>                                             
                                              <td><input class="form-check-input" type="checkbox" id="noaplica" name="noaplica" value="noaplica">&nbsp; N/A - No aplica  </td>
                                            </tr>
                                            {% for usup in usuarios %}
                                            <tr>                                             
                                              <td><input class="form-check-input" type="checkbox" id="opcionesPersonas{{pregunta.id}}" name="opcionesPersonas{{pregunta.id}}" value="{{ usup.id }} "> &nbsp;{{usup.nombre}}  {{usup.apellido}} </td>
                                            </tr>
                                            {% endfor %}
                                          </tbody>
                                        </table>
                                      </div>
                                      <!--end table-->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!--end compromiso-->
                              </div>
                            </div>
                              <!--=====================End validar comentarios ============-->
                          {% endif %}
                          </div><!--cerrar el div de columna-->
                          </div>
                          <hr>
                          {% endif %}
                      {% endfor %}
                      </div>
                  <!--end formulario-->
                  <!--botones-->
                  <div class="container text-end">
                    <button type="submit" class="button mt-2">Enviar</button>
                  </div>
                  <!--end botones -->
                    </div>
                  </div>
                </div>
               <!--Aqui end for-->
                </form>
               {% endfor %}
               <!--- aqui formulario para la ultima sesion evaluar el curso not buscar and --->
               {% if estado %}
                {% if not buscar %}
                <div class="accordion-item mt-2">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acordionEvaluacion" aria-expanded="false" aria-controls="acordionEvaluacion" style="background-color: rgb(200, 213, 248); border-radius: 10px;">
                      <span style="color: rgb(15, 14, 14);"> <b><i class="bi bi-hand-index-thumb"></i> Encuesta de satisfacción del curso</b></span> 
                    </a>
                  </h2>
                  <div id="acordionEvaluacion" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <!---formulario de satisfaccion---->
                      <form action="{% url 'saveRespuestasFormu' %}" method="post">
                        {% csrf_token %}
                        <!--variables para formulario-->
                        <input type="hidden" name="idsesion" value="{{datoscurso.id}}">
                        <input type="hidden" name="idformu" value="{{formu.idform.id}}">
                        <input type="hidden" name="idusu" value="{{usu.id}}">
                        <input type="hidden" name="valorformu" value="2">
                        <!--end variables formulario-->
                        <div class="form-control">
                          <h5 class="text-center"><b>Calificar al formador</b></h5>
                          <p><small>En el siguiente apartado se evaluarán las habilidades del formador.
                            <ul>
                              <li><span style="color: rgb(240, 198, 12);">★</span> Muy bajo </li>
                              <li><span style="color: rgb(240, 198, 12);">★★</span> Regular </li> 
                              <li><span style="color: rgb(240, 198, 12);">★★★</span> Bueno</li>
                              <li><span style="color: rgb(240, 198, 12);">★★★★</span> Muy bueno</li>
                              <li><span style="color: rgb(240, 198, 12);">★★★★★</span> Sobre saliente</li>
                            </ul>
                          </small></p>
                          <hr>
                          <div class="row">
                            <div class="col-sm-6" style="text-align: justify;">
                                <b>1. Claridad en la explicación:&nbsp;</b>¿Qué tan claro y comprensible fue el formador al explicar los conceptos durante la sesión de formación?
                            </div>
                            <div class="col-sm-6 text-center">
                              <div class="clasificacion">
                                <input class="inputradio" id="radio1" type="radio" name="claridad" value="5">
                                <label class="labelradio" for="radio1"><h4>★</h4></label>
                                <input class="inputradio" id="radio2" type="radio" name="claridad" value="4">
                                <label class="labelradio" for="radio2"><h4>★</h4></label>
                                <input class="inputradio" id="radio3" type="radio" name="claridad" value="3">
                                <label class="labelradio" for="radio3"><h4>★</h4></label>
                                <input class="inputradio" id="radio4" type="radio" name="claridad" value="2">
                                <label class="labelradio" for="radio4"><h4>★</h4></label>
                                <input class="inputradio" id="radio5" type="radio" name="claridad" value="1">
                                <label class="labelradio" for="radio5"><h4>★</h4></label>
                            </div>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-6" style="text-align: justify;">
                              <b>2. Capacidad para fomentar la participación:&nbsp;</b>¿Cómo valoraría la habilidad del formador para involucrar a los participantes y fomentar su participación durante la sesión?
                            </div>
                            <div class="col-sm-6 text-center text-center">
                              <div class="clasificacion">
                                <input class="inputradio" id="radio6" type="radio" name="capacidad" value="5">
                                <label class="labelradio" for="radio6"><h4>★</h4></label>
                                <input class="inputradio" id="radio7" type="radio" name="capacidad" value="4">
                                <label class="labelradio" for="radio7"><h4>★</h4></label>
                                <input class="inputradio" id="radio8" type="radio" name="capacidad" value="3">
                                <label class="labelradio" for="radio8"><h4>★</h4></label>
                                <input class="inputradio" id="radio9" type="radio" name="capacidad" value="2">
                                <label class="labelradio" for="radio9"><h4>★</h4></label>
                                <input class="inputradio" id="radio10" type="radio" name="capacidad" value="1">
                                <label class="labelradio" for="radio10"><h4>★</h4></label>
                            </div>
                            
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-6" style="text-align: justify;">
                            <b>3. Dominio del contenido:&nbsp;</b>¿En qué medida demostró el formador un dominio sólido del tema impartido durante la sesión de formación?
                          </div>
                          <div class="col-sm-6 text-center">
                            <div class="clasificacion">
                              <input class="inputradio" id="radio11" type="radio" name="dominio" value="5">
                              <label class="labelradio" for="radio11"><h4>★</h4></label>
                              <input class="inputradio" id="radio12" type="radio" name="dominio" value="4">
                              <label class="labelradio" for="radio12"><h4>★</h4></label>
                              <input class="inputradio" id="radio13" type="radio" name="dominio" value="3">
                              <label class="labelradio" for="radio13"><h4>★</h4></label>
                              <input class="inputradio" id="radio14" type="radio" name="dominio" value="2">
                              <label class="labelradio" for="radio14"><h4>★</h4></label>
                              <input class="inputradio" id="radio15" type="radio" name="dominio" value="1">
                              <label class="labelradio" for="radio15"><h4>★</h4></label>
                          </div>
                          </div>
                      </div>
                      <hr>
                      <div class="row">
                          <div class="col-sm-6" style="text-align: justify;">
                            <b>4. Aspectos a rescatar:&nbsp;</b>¿Cuáles fueron los aspectos más destacados del formador? ¿Cuáles podrían ser aspectos a fortalecer?
                          </div>
                          <div class="col-sm-6">
                            <textarea class="form-control" type="text" name="aspectos" rows="3" required></textarea>
                          </div>
                      </div>
                      <!--=================-->
                        </div>
                        <!--calificar curso-->
                        <div class="form-control mt-2">
                          <h5 class="text-center"><b>Calificar sesión del curso:</b></h5>
                          <p><small>En el siguiente apartado se evaluará la sesión del curso.</small></p>
                          <hr>
                          <div class="row">
                            <div class="col-sm-6" style="text-align: justify;">
                                <b>1. Relevancia del contenido:&nbsp;</b>¿Cómo calificarías la relevancia del contenido del curso para tus necesidades o expectativas?
                            </div>
                            <div class="col-sm-6 text-center">
                              <div class="clasificacion">
                                <input class="inputradio" id="radio16" type="radio" name="relevancia" value="5">
                                <label class="labelradio" for="radio16"><h4>★</h4></label>
                                <input class="inputradio" id="radio17" type="radio" name="relevancia" value="4">
                                <label class="labelradio" for="radio17"><h4>★</h4></label>
                                <input class="inputradio" id="radio18" type="radio" name="relevancia" value="3">
                                <label class="labelradio" for="radio18"><h4>★</h4></label>
                                <input class="inputradio" id="radio19" type="radio" name="relevancia" value="2">
                                <label class="labelradio" for="radio19"><h4>★</h4></label>
                                <input class="inputradio" id="radio20" type="radio" name="relevancia" value="1">
                                <label class="labelradio" for="radio20"><h4>★</h4></label>
                            </div>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-6" style="text-align: justify;">
                              <b>2. Claridad de la presentación:&nbsp;</b>¿Qué tan claro y comprensible fue el material presentado durante el curso?
                            </div>
                            <div class="col-sm-6 text-center">
                              <div class="clasificacion">
                                <input class="inputradio" id="radio21" type="radio" name="claridadpres" value="5">
                                <label class="labelradio" for="radio21"><h4>★</h4></label>
                                <input class="inputradio" id="radio22" type="radio" name="claridadpres" value="4">
                                <label class="labelradio" for="radio22"><h4>★</h4></label>
                                <input class="inputradio" id="radio23" type="radio" name="claridadpres" value="3">
                                <label class="labelradio" for="radio23"><h4>★</h4></label>
                                <input class="inputradio" id="radio24" type="radio" name="claridadpres" value="2">
                                <label class="labelradio" for="radio24"><h4>★</h4></label>
                                <input class="inputradio" id="radio25" type="radio" name="claridadpres" value="1">
                                <label class="labelradio" for="radio25"><h4>★</h4></label>
                            </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-6" style="text-align: justify;">
                            <b>3. Aplicabilidad de los conceptos:&nbsp;</b>¿En qué medida sientes que los conceptos y habilidades aprendidos en el curso son aplicables a situaciones reales o a tu trabajo?
                          </div>
                          <div class="col-sm-6 text-center">
                            <div class="clasificacion text-center">
                              <input class="inputradio" id="radio26" type="radio" name="aplicabilidad" value="5">
                              <label class="labelradio" for="radio26"><h4>★</h4></label>
                              <input class="inputradio" id="radio27" type="radio" name="aplicabilidad" value="4">
                              <label class="labelradio" for="radio27"><h4>★</h4></label>
                              <input class="inputradio" id="radio28" type="radio" name="aplicabilidad" value="3">
                              <label class="labelradio" for="radio28"><h4>★</h4></label>
                              <input class="inputradio" id="radio29" type="radio" name="aplicabilidad" value="2">
                              <label class="labelradio" for="radio29"><h4>★</h4></label>
                              <input class="inputradio" id="radio30" type="radio" name="aplicabilidad" value="1">
                              <label class="labelradio" for="radio30"><h4>★</h4></label>
                          </div>
                          </div>
                      </div>
                      <hr>
                      <div class="row">
                          <div class="col-sm-6" style="text-align: justify;">
                            <b>4. Fortalezas del curso:&nbsp;</b>¿Cuáles crees que fueron las principales fortalezas de este curso? Por favor, proporciona detalles específicos sobre aspectos que encontraste especialmente útiles o efectivos.
                          </div>
                          <div class="col-sm-6">
                            <textarea class="form-control" type="text" name="fortalezasesion" rows="3" required></textarea>
                          </div>
                      </div>
                      <hr>
                      <div class="row">
                          <div class="col-sm-6" style="text-align: justify;">
                            <b>5. Áreas de mejora sugeridas:&nbsp;</b>¿Hay áreas específicas en las que crees que este curso podría mejorar? Por favor, comparte cualquier sugerencia o recomendación que tengas para futuras iteraciones del curso.
                          </div>
                          <div class="col-sm-6">
                            <textarea class="form-control" type="text" name="mejorasesion" rows="3" required></textarea>
                          </div>
                      </div>
                        <!--=================-->
                        <input type="hidden" name="idcurso" value="{{ curso.id }}">
                        </div>
                        <!---=================================================-->
                        <div class="container text-end">
                          <button type="submit" class="button mt-2">Enviar</button>
                        </div>
                      </form>
                      <!--end encuesta de satisfaccion-->
                    </div>
                  </div>
                </div>
               {% endif %}
               {% endif %}
               <!--- end evaluar el curso-->
              </div>
              <!--end info form--> 
              <!--mostrar los formularios completados-->
              {% if respuestasForm %}
              <div class="alert alert-primary mt-4" role="alert">
                 <div class="container text-center">
                     <b> Lista de formularios completados</b>
                 </div>
              </div>              
              <hr>
              <div class="table-responsive">
              <table class="table" id="tablareactiva">
                  <thead>
                    <tr>
                      <th scope="col">No</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Descripción</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for datosform in formcompleto %}
                      <tr>
                        <th scope="row"> {{ forloop.counter }}</th>
                        <td>{{datosform.nombre}}</td>
                        <td>{{datosform.descrip}} </td>
                        <td>
                          <!--modal informacion-->
                          <!-- Button trigger modal -->
                          <a type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#respuestaForm{{datosform.id}}">
                            ver
                          </a>
                          <!-- Modal -->
                          <div class="modal fade" id="respuestaForm{{datosform.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <!---informacion de respuesta-->
                                      <!-- Mostrar preguntas asociadas al formulario -->
                                      <h5 class="text-center"><b>Preguntas y respuestas</b></h5>
                                      <div class="container form-control mt-2">
                                      {% for formudes in respuestasForm %}
                                          
                                           {% if datosform.id == formudes.idpreg.idform.id %}
                                              <div class="row">
                                                  <div class="col-lg-6 col-md-12">
                                                    <p><b>Pregunta: </b> {{ formudes.idpreg.descrip }}</p>
                                                    {% if formudes.idpreg.tipo != '6' %}
                                                    <p><b>Valor de pregunta: </b> {{ formudes.idpreg.valor }}</p>
                                                    <p><b>Valor obtenido: </b>  {{ formudes.valores }} </p>
                                                    {% endif %}
                                                    <p><b>Comentario: </b>{% if formudes.comentario %} {{ formudes.comentario }} {% endif %}</p>
                                                     
                                                   </div>
                                                <div class="col-lg-6 col-md-12">
                                              <!-- Aquí puedes agregar más detalles según el tipo de pregunta -->
                                              {% if formudes.idpreg.tipo == '1' %}  {# Pregunta de respuesta corta #}
                                              <p><b>Respuesta Corta:</b></p>
                                              <p class="form-control"> {{formudes.respuesta}} </p> 
                                              {% elif formudes.idpreg.tipo == '2' %}
                                                <p><b>Respuesta Larga:</b></p>
                                                <p class="form-control"> {{formudes.respuesta}} </p> 
                                              {% elif formudes.idpreg.tipo == '3' %} {# Pregunta de opciones múltiples #}
                                              <p><b>Opciones: Selección múltiple</b></p> 
                                                  {% for respuestasopc in formudes.idpreg.opciones_set.all %}
                                                      <div class="form-control">
                                                      <div class="form-check">
                                                        {% for seluser in formudes.respuestaopciones_set.all %}
                                                          {% if seluser.idopcion.id == respuestasopc.id %}
                                                           <input class="form-check-input" type="checkbox" value="" id="{{respuestasopc.id}}" checked >
                                                          {% else %}
                                                           <input class="form-check-input" type="checkbox" value="" id="{{respuestasopc.id}}" >
                                                          {% endif %}
                                                        {% endfor %}
                                                          <label class="form-check-label" for="{{respuestasopc.id}}">
                                                              {{ respuestasopc.descrip }} 
                                                          </label>
                                                        </div>    
                                                      </div>                              
                                                  {% endfor %}
                                            {% elif formudes.idpreg.tipo == '4' %} {# Pregunta de opciones múltiples con una verdadera #}
                                                <p><b>Opciones: Opciones múltiples con una verdadera</b></p> 
                                                {% for respuestasopc in formudes.idpreg.opciones_set.all %}
                                                <div class="form-control">
                                                  <div class="form-check">
                                                    {% for seluser in formudes.respuestaopciones_set.all %}
                                                      {% if seluser.idopcion.id == respuestasopc.id %}
                                                      <input class="form-check-input" type="radio" name="opradio{{respuestasopc.id}}" id="opradio{{respuestasopc.id}}" checked>
                                                      {% else %}
                                                      <input class="form-check-input" type="radio" name="opradio{{respuestasopc.id}}" id="opradio{{respuestasopc.id}}">
                                                      {% endif %}
                                                    {% endfor %}
                                                    {% if respuestasopc.correcta  %}
                                                    <label class="form-check-label" for="opradio{{respuestasopc.id}}">
                                                      {{ respuestasopc.descrip }}   <span style="background-color: yellow;">  Correcta</span> 
                                                    </label> 
                                                    {% else %}
                                                    <label class="form-check-label" for="opradio{{respuestasopc.id}}">
                                                      {{ respuestasopc.descrip }}  
                                                    </label> 
                                                    {% endif %}
                                                  </div>
                                                </div>
                                                {% endfor %}
                                            {% elif formudes.idpreg.tipo == '5' %} {# Pregunta de opciones múltiples con varias verdaderas (Checkbox) #}
                                                <p><b>Opciones: Selección múltiple con varias respuestas </b></p>
                                                {% for respuestasopc in formudes.idpreg.opciones_set.all %}
                                                <div class="form-control">
                                                <div class="form-check">
                                                  {% for resusu in formudes.respuestaopciones_set.all %}
                                                     {% if resusu.idopcion.id == respuestasopc.id %}
                                                     <input class="form-check-input" type="checkbox" value="" id="mulver{{respuestasopc.id}}" checked >
                                                     {% endif %}
                                                  {% endfor %}
                                                  {% if respuestasopc.correcta  %}
                                                  <label class="form-check-label" for="mulver{{respuestasopc.id}}">
                                                    {{ respuestasopc.descrip }} <span style="background-color: yellow;">  Correcta</span> 
                                                  </label>
                                                  {% else %}
                                                  <label class="form-check-label" for="mulver{{respuestasopc.id}}">
                                                    {{ respuestasopc.descrip }}  
                                                  </label>
                                                  {% endif %}
                                                  </div>
                                                </div>
                                                {% endfor %}
                                              
                                              <!---aqui evaluar el compromiso para que el usuario pueda agregar-->
                                              {% elif formudes.idpreg.tipo == '6' %}
                                                <!--end compromiso-->  
                                                {% for comp in formudes.compromisos_set.all  %}
                                                <p><b>¿Qué vas a hacer?</b></p>
                                                <p class="form-control"> {{comp.compromiso}} </p> 
                                                  <div class="row">
                                                       <div class="col-lg-6 col-md-12">
                                                          <p><b>Fecha final del compromiso:</b></p>
                                                           <p class="form-control"> {{comp.fecha_final|date:'Y-m-d'}} </p> 
                                                        </div>
                                                       <div class="col-lg-6 col-md-12">
                                                          <p><b>Prioridad:</b></p>
                                                          <p class="form-control"> {{comp.prioridad}} </p> 
                                                       </div>
                                                  </div>
                                                  <div class="row">
                                                        <div class="col-lg-6 col-md-12">
                                                          <p><b>Estado de revisión:</b></p>
                                                            <p class="form-control"> {{comp.id_estado.descripcion}}</p> 
                                                        </div>
                                                        <div class="col-lg-6 col-md-12">
                                                          <p><b>Calificación:</b></p>
                                                          <p class="form-control"> {{comp.puntaje}} </p> 
                                                        </div>
                                                  </div>
                                                  <p><b>Colaboradores</b></p>
                                                  {% if comp.personascompromisos_set.all %}
                                                    <ul>
                                                    {% for personas in comp.personascompromisos_set.all  %} 
                                                      <li>{{personas.id_usuario.nombre}} {{personas.id_usuario.apellido}}</li>
                                                    {% endfor %}
                                                    </ul>
                                                    {% else %}
                                                      <p>No hay colaboradores disponibles.</p>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                              </div><!--cerrar el div de columna-->
                                              </div>
                                              <hr>
                                              {% endif %}
                                         {% endfor %}
                                      </div>
                                  <!--end respuesta-->
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Salir</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--end informacion-->
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              {% endif %}
              <!--end mostrar formuarios completos-->
            </div>
          </div>
          <!---Aqui boton de regresar-->
           <div class="text-end">
            {% if not formularios %}
               <a href="/login/user/" class="btn btn-warning mt-2">Terminar</a>
            {% endif %}
           </div>
          <!--end boton regresar-->
       </div>
      </div>
    </section>
</main><!-- End #main -->
<!-- Aqui se encuentran las instrucciones para formularios -->
{% endblock %} 

