{% extends 'layoutsinicio/app2.html' %}

{% block content %}
{% load static %}
<main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Verificación de cuenta</h5>
                    <p class="text-center small">Ingrese su correo electrónico</p>
                  </div>
                  {% if error %}
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                  <form class="row g-3" action="{% url 'viewhome' %}" method="post">
                    {% csrf_token %}
                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Email</label>
                      <div class="input-group">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input type="email" name="username" class="form-control" id="yourUsername" required>
                      </div>
                    </div>
                   <div class="col-12">
                      <label for="yourPassword" class="form-label">Contraseña</label>
                      <input type="password" name="password" class="form-control" id="password" required>
                    </div>
                    <div class="col-12">
                        <input type="checkbox" id="showPassword" onchange="togglePassword()"> Mostrar contraseña
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Iniciar</button>
                    </div>
                  </form>
                  <!--======================-->
                </div>
              </div>

              <div class="credits"> Todos Los derechos <a href="/">Appcultura 2024</a>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->
  <script>
      function togglePassword() {
      var passwordInput = document.getElementById('password');
      var showPasswordCheckbox = document.getElementById('showPassword');
      // Cambiar el tipo de input basado en la casilla de verificación
      passwordInput.type = showPasswordCheckbox.checked ? 'text' : 'password';
  }
  </script>

{% endblock %} 